# 2025-07-18 금요일 파이썬 2일째
---

In [15]:
s = 'Hello Python!'
print(s[-7:-1])
print(s.split()[1].rstrip('!'))
print(s[s.find('Python'):s.find('!')])

Python
Python
Python

In [24]:
s = 'apple pie'
result = s.replace(' ','')
print(s)
print(result)

s = s.rstrip()
r = s.split()
print(r[0] + r[1])

result = ''.join(r)
print(result)

apple pie
applepie
applepie
applepie

In [44]:
kor_data = '10011110101010111011'
leng = len(kor_data)
cnt = kor_data.count('1')
result = cnt / leng * 100
print(f"점수 : {result:.2f}점")

점수 : 65.00점

In [48]:
date_input = input("날짜를 입력하세요(YYYY-MM-DD)").strip()

year = date_input[0:4]
print(f"입력한 날짜의 년도는 {year}입니다.")

date = date_input.split('-')
year2 = date[0].strip()
print(f"입력한 날짜의 년도는 {year2}년입니다.")

month2 = date[1].strip()
print(f"입력한 날짜의 달은 {month2}월입니다.")

day2 = date[2].strip()
print(f"입력한 날짜는 {day2}일입니다.")

입력한 날짜의 년도는 2025입니다.
입력한 날짜의 년도는 2025년입니다.
입력한 날짜의 달은 07월입니다.
입력한 날짜는 18일입니다.

In [51]:
print("안녕" in "안녕하세요")
print("안냥" in "안녕하세요")

True
False

In [53]:
a = "I eat %d apples." % 3
print(a)

I eat 3 apples.

In [62]:
num = 3.141592
a = "I eat %.5f apples" % num
print(a)

I eat 3.14159 apples

In [67]:
str1 = "|%10s|" % "hi"
print(str1)
str2 = "|%-10s|" % "hi"
print(str2)

|        hi|
|hi        |

In [72]:
이름 = '김철수'
나이 = 25
print(이름 + "님은 " +str(나이)+"살입니다.")
print("{}님은 {}살입니다".format(이름,나이))

김철수님은 25살입니다.
김철수님은 25살입니다

In [75]:
a = "I eat %d apples" % 3
print(a)

b = "I eat {} apples".format(3)
print(b)

I eat 3 apples
I eat 3 apples

In [84]:
number = 10
day = "three"
a = "I ate {} apples. so I was sick for {} days".format(number,day)
print(a)
b = "I ate {number} apples. so I was sick for {day} days".format(number = number**2, day = day)
print(b)

I ate 10 apples. so I was sick for three days
I ate 100 apples. so I was sick for three days

In [93]:
number = 5
number2 = 3.14
output = "숫자 : |{:4d}|{:.2f}|".format(number, number2)
print(output)

숫자 : |   5|3.14|

In [98]:
a = "|{:<10}|".format("hi")
print(a)
b = "|{:>10}|".format("hi")
print(b)
c = "|{:^10}|".format("hi")
print(c)
d = "|{:#^10}|".format("hi")
print(d)
e = "|{:@>10}|".format("hi")
print(e)
f = "|{:0<10}|".format("hi")
print(f)
g = "|{:0>10}|".format("hi")
print(g)

|hi        |
|        hi|
|    hi    |
|####hi####|
|@@@@@@@@hi|
|hi00000000|
|00000000hi|

In [102]:
product = input("상품명 : ")
price = float(input("가격 : "))
output = "상품명 : {}, 가격 : {:,.2f}달러".format(product,price)
print(output)

상품명 : 가방, 가격 : 11,234.45달러

In [106]:
product = input("상품명 : ")
price = int(input("가격 : "))
output = "상품명 : {}, 가격 : {:,}원".format(product,price)
print(output)

상품명 : 가반, 가격 : 1,500,000원

In [109]:
이름 = "김철수"
나이 = 25
print("나의 이름은 {이름}입니다. 나이는 {나이}살입니다")
print(f"나의 이름은 {이름}입니다. 나이는 {나이}살입니다")

나의 이름은 {이름}입니다. 나이는 {나이}살입니다
나의 이름은 김철수입니다. 나이는 25살입니다

In [111]:
a = f"|{'hi':<10}|"
print(a)
b = f"|{'hi':>10}|"
print(b)
c = f"|{'hi':^10}|"
print(c)
d = f"|{'hi':#^10}|"
print(d)
e = f"|{'hi':@>10}|"
print(e)
f = f"|{'hi':0<10}|"
print(f)
g = f"|{'hi':0>10}|"
print(g)

|hi        |
|        hi|
|    hi    |
|####hi####|
|@@@@@@@@hi|
|hi00000000|
|00000000hi|

In [115]:
# 20% 할인된 가격은?
price = 15000
rate = 0.2
result = price * (1 - rate)
print(result)
print(f"원래 가격 : {price:.2f}원, 할인율 : {rate * 100:.0f}%, 최종 가격 : {result:,.2f}원")

12000.0
원래 가격 : 15000.00원, 할인율 : 20%, 최종 가격 : 12,000.00원

In [117]:
price = 50000
tax = price * 0.1
final_price = price + tax
print(f"상품가격 : {price:,.0f}원, 세금 : {tax:,.0f}원, 최종가격 : {final_price:,.0f}원")

상품가격 : 50,000원, 세금 : 5,000원, 최종가격 : 55,000원

In [124]:
number = input("전화번호 : ")
if number.startswith("02-"):
    print("서울")
elif number.startswith("031-"):
    print("경기도")

area_code = number.split("-")[0]
if area_code == "02":
    print("서울")
elif area_code == "031":
    print("경기도")

In [129]:
text = "Hello World!"
if("A" in text):
    print("A가 있습니다")
elif("W" in text):
    print("W가 있습니다")
else:
    print("아무것도 없습니다")

W가 있습니다

In [135]:
number = int(input("정수를 입력하세요"))
if(number %2 == 0):
    print(f"{number}는 짝수입니다")
else:
    print(f"{number}는 홀수입니다")

10는 짝수입니다

In [140]:
age = int(input("나이를 입력하세요 : "))
if(age >= 65):
    print("당신은 노인입니다")
elif(age >= 20):
    print("당신은 성인입니다")
elif(age >= 13):
    print("당신은 청소년입니다")
else:
    print("당신은 어린이입니다")

당신은 어린이입니다

In [146]:
username = input("사용자 아이디를 입력하세요")
password = input("비밀번호를 입력하세요:")
uid = "admin"
upw = "1234"

if(username == uid and password == upw):
    print("관리자님 로그인되었습니다")
elif(username == uid and password != upw):
    print("비밀번호를 잘못 입력했습니다")
elif(username != uid):
    print("아이디를 잘못 입력하셨습니다")
else:
    print("???")

아이디를 잘못 입력하셨습니다

In [151]:
temp = 20
if temp < 0:
    print("날씨가 춥습니다")
elif 0 <= temp < 20:
    print("날씨가 쌀쌀합니다")
elif 20 <= temp < 30:
    print("날씨가 따뜻합니다")
elif 30 < temp:
    print("날씨가 덥습니다")
else:
    print("???")

날씨가 따뜻합니다

In [152]:
for i in "sejong":
    print(i)

s
e
j
o
n
g

In [157]:
a = range(1,5,1)
for i in a:
    print(i)

1
2
3
4

In [164]:
string = "samsung"
for i in range(len(string)):
    print(i, string[i])

0 s
1 a
2 m
3 s
4 u
5 n
6 g

In [175]:
for i in range(1,10):
    for j in range(2,100):
        print(f"{j} X {i} = {i*j}", end = "\t")
    print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9	10 X 1 = 10	11 X 1 = 11	12 X 1 = 12	13 X 1 = 13	14 X 1 = 14	15 X 1 = 15	16 X 1 = 16	17 X 1 = 17	18 X 1 = 18	19 X 1 = 19	20 X 1 = 20	21 X 1 = 21	22 X 1 = 22	23 X 1 = 23	24 X 1 = 24	25 X 1 = 25	26 X 1 = 26	27 X 1 = 27	28 X 1 = 28	29 X 1 = 29	30 X 1 = 30	31 X 1 = 31	32 X 1 = 32	33 X 1 = 33	34 X 1 = 34	35 X 1 = 35	36 X 1 = 36	37 X 1 = 37	38 X 1 = 38	39 X 1 = 39	40 X 1 = 40	41 X 1 = 41	42 X 1 = 42	43 X 1 = 43	44 X 1 = 44	45 X 1 = 45	46 X 1 = 46	47 X 1 = 47	48 X 1 = 48	49 X 1 = 49	50 X 1 = 50	51 X 1 = 51	52 X 1 = 52	53 X 1 = 53	54 X 1 = 54	55 X 1 = 55	56 X 1 = 56	57 X 1 = 57	58 X 1 = 58	59 X 1 = 59	60 X 1 = 60	61 X 1 = 61	62 X 1 = 62	63 X 1 = 63	64 X 1 = 64	65 X 1 = 65	66 X 1 = 66	67 X 1 = 67	68 X 1 = 68	69 X 1 = 69	70 X 1 = 70	71 X 1 = 71	72 X 1 = 72	73 X 1 = 73	74 X 1 = 74	75 X 1 = 75	76 X 1 = 76	77 X 1 = 77	78 X 1 = 78	79 X 1 = 79	80 X 1 = 80	81 X 1 = 81	82 X 1 = 82	83 X 1 = 83	84 X 1 = 84	85 X 1 = 85	86 X 1 = 86	87 X 1 = 87	88 X 1 = 88	89 X 1 = 89	90 X 1 = 90	91 X 1 = 91	92 X 1 = 92	93 X 1 = 93	94 X 1 = 94	95 X 1 = 95	96 X 1 = 96	97 X 1 = 97	98 X 1 = 98	99 X 1 = 99
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18	10 X 2 = 20	11 X 2 = 22	12 X 2 = 24	13 X 2 = 26	14 X 2 = 28	15 X 2 = 30	16 X 2 = 32	17 X 2 = 34	18 X 2 = 36	19 X 2 = 38	20 X 2 = 40	21 X 2 = 42	22 X 2 = 44	23 X 2 = 46	24 X 2 = 48	25 X 2 = 50	26 X 2 = 52	27 X 2 = 54	28 X 2 = 56	29 X 2 = 58	30 X 2 = 60	31 X 2 = 62	32 X 2 = 64	33 X 2 = 66	34 X 2 = 68	35 X 2 = 70	36 X 2 = 72	37 X 2 = 74	38 X 2 = 76	39 X 2 = 78	40 X 2 = 80	41 X 2 = 82	42 X 2 = 84	43 X 2 = 86	44 X 2 = 88	45 X 2 = 90	46 X 2 = 92	47 X 2 = 94	48 X 2 = 96	49 X 2 = 98	50 X 2 = 100	51 X 2 = 102	52 X 2 = 104	53 X 2 = 106	54 X 2 = 108	55 X 2 = 110	56 X 2 = 112	57 X 2 = 114	58 X 2 = 116	59 X 2 = 118	60 X 2 = 120	61 X 2 = 122	62 X 2 = 124	63 X 2 = 126	64 X 2 = 128	65 X 2 = 130	66 X 2 = 132	67 X 2 = 134	68 X 2 = 136	69 X 2 = 138	70 X 2 = 140	71 X 2 = 142	72 X 2 = 144	73 X 2 = 146	74 X 2 = 148	75 X 2 = 150	76 X 2 = 152	77 X 2 = 154	78 X 2 = 156	79 X 2 = 158	80 X 2 = 160	81 X 2 = 162	82 X 2 = 164	83 X 2 = 166	84 X 2 = 168	85 X 2 = 170	86 X 2 = 172	87 X 2 = 174	88 X 2 = 176	89 X 2 = 178	90 X 2 = 180	91 X 2 = 182	92 X 2 = 184	93 X 2 = 186	94 X 2 = 188	95 X 2 = 190	96 X 2 = 192	97 X 2 = 194	98 X 2 = 196	99 X 2 = 198
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27	10 X 3 = 30	11 X 3 = 33	12 X 3 = 36	13 X 3 = 39	14 X 3 = 42	15 X 3 = 45	16 X 3 = 48	17 X 3 = 51	18 X 3 = 54	19 X 3 = 57	20 X 3 = 60	21 X 3 = 63	22 X 3 = 66	23 X 3 = 69	24 X 3 = 72	25 X 3 = 75	26 X 3 = 78	27 X 3 = 81	28 X 3 = 84	29 X 3 = 87	30 X 3 = 90	31 X 3 = 93	32 X 3 = 96	33 X 3 = 99	34 X 3 = 102	35 X 3 = 105	36 X 3 = 108	37 X 3 = 111	38 X 3 = 114	39 X 3 = 117	40 X 3 = 120	41 X 3 = 123	42 X 3 = 126	43 X 3 = 129	44 X 3 = 132	45 X 3 = 135	46 X 3 = 138	47 X 3 = 141	48 X 3 = 144	49 X 3 = 147	50 X 3 = 150	51 X 3 = 153	52 X 3 = 156	53 X 3 = 159	54 X 3 = 162	55 X 3 = 165	56 X 3 = 168	57 X 3 = 171	58 X 3 = 174	59 X 3 = 177	60 X 3 = 180	61 X 3 = 183	62 X 3 = 186	63 X 3 = 189	64 X 3 = 192	65 X 3 = 195	66 X 3 = 198	67 X 3 = 201	68 X 3 = 204	69 X 3 = 207	70 X 3 = 210	71 X 3 = 213	72 X 3 = 216	73 X 3 = 219	74 X 3 = 222	75 X 3 = 225	76 X 3 = 228	77 X 3 = 231	78 X 3 = 234	79 X 3 = 237	80 X 3 = 240	81 X 3 = 243	82 X 3 = 246	83 X 3 = 249	84 X 3 = 252	85 X 3 = 255	86 X 3 = 258	87 X 3 = 261	88 X 3 = 264	89 X 3 = 267	90 X 3 = 270	91 X 3 = 273	92 X 3 = 276	93 X 3 = 279	94 X 3 = 282	95 X 3 = 285	96 X 3 = 288	97 X 3 = 291	98 X 3 = 294	99 X 3 = 297
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36	10 X 4 = 40	11 X 4 = 44	12 X 4 = 48	13 X 4 = 52	14 X 4 = 56	15 X 4 = 60	16 X 4 = 64	17 X 4 = 68	18 X 4 = 72	19 X 4 = 76	20 X 4 = 80	21 X 4 = 84	22 X 4 = 88	23 X 4 = 92	24 X 4 = 96	25 X 4 = 100	26 X 4 = 104	27 X 4 = 108	28 X 4 = 112	29 X 4 = 116	30 X 4 = 120	31 X 4 = 124	32 X 4 = 128	33 X 4 = 132	34 X 4 = 136	35 X 4 = 140	36 X 4 = 144	37 X 4 = 148	38 X 4 = 152	39 X 4 = 156	40 X 4 = 160	41 X 4 = 164	42 X 4 = 168	43 X 4 = 172	44 X 4 = 176	45 X 4 = 180	46 X 4 = 184	47 X 4 = 188	48 X 4 = 192	49 X 4 = 196	50 X 4 = 200	51 X 4 = 204	52 X 4 = 208	53 X 4 = 212	54 X 4 = 216	55 X 4 = 220	56 X 4 = 224	57 X 4 = 228	58 X 4 = 232	59 X 4 = 236	60 X 4 = 240	61 X 4 = 244	62 X 4 = 248	63 X 4 = 252	64 X 4 = 256	65 X 4 = 260	66 X 4 = 264	67 X 4 = 268	68 X 4 = 272	69 X 4 = 276	70 X 4 = 280	71 X 4 = 284	72 X 4 = 288	73 X 4 = 292	74 X 4 = 296	75 X 4 = 300	76 X 4 = 304	77 X 4 = 308	78 X 4 = 312	79 X 4 = 316	80 X 4 = 320	81 X 4 = 324	82 X 4 = 328	83 X 4 = 332	84 X 4 = 336	85 X 4 = 340	86 X 4 = 344	87 X 4 = 348	88 X 4 = 352	89 X 4 = 356	90 X 4 = 360	91 X 4 = 364	92 X 4 = 368	93 X 4 = 372	94 X 4 = 376	95 X 4 = 380	96 X 4 = 384	97 X 4 = 388	98 X 4 = 392	99 X 4 = 396
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45	10 X 5 = 50	11 X 5 = 55	12 X 5 = 60	13 X 5 = 65	14 X 5 = 70	15 X 5 = 75	16 X 5 = 80	17 X 5 = 85	18 X 5 = 90	19 X 5 = 95	20 X 5 = 100	21 X 5 = 105	22 X 5 = 110	23 X 5 = 115	24 X 5 = 120	25 X 5 = 125	26 X 5 = 130	27 X 5 = 135	28 X 5 = 140	29 X 5 = 145	30 X 5 = 150	31 X 5 = 155	32 X 5 = 160	33 X 5 = 165	34 X 5 = 170	35 X 5 = 175	36 X 5 = 180	37 X 5 = 185	38 X 5 = 190	39 X 5 = 195	40 X 5 = 200	41 X 5 = 205	42 X 5 = 210	43 X 5 = 215	44 X 5 = 220	45 X 5 = 225	46 X 5 = 230	47 X 5 = 235	48 X 5 = 240	49 X 5 = 245	50 X 5 = 250	51 X 5 = 255	52 X 5 = 260	53 X 5 = 265	54 X 5 = 270	55 X 5 = 275	56 X 5 = 280	57 X 5 = 285	58 X 5 = 290	59 X 5 = 295	60 X 5 = 300	61 X 5 = 305	62 X 5 = 310	63 X 5 = 315	64 X 5 = 320	65 X 5 = 325	66 X 5 = 330	67 X 5 = 335	68 X 5 = 340	69 X 5 = 345	70 X 5 = 350	71 X 5 = 355	72 X 5 = 360	73 X 5 = 365	74 X 5 = 370	75 X 5 = 375	76 X 5 = 380	77 X 5 = 385	78 X 5 = 390	79 X 5 = 395	80 X 5 = 400	81 X 5 = 405	82 X 5 = 410	83 X 5 = 415	84 X 5 = 420	85 X 5 = 425	86 X 5 = 430	87 X 5 = 435	88 X 5 = 440	89 X 5 = 445	90 X 5 = 450	91 X 5 = 455	92 X 5 = 460	93 X 5 = 465	94 X 5 = 470	95 X 5 = 475	96 X 5 = 480	97 X 5 = 485	98 X 5 = 490	99 X 5 = 495
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54	10 X 6 = 60	11 X 6 = 66	12 X 6 = 72	13 X 6 = 78	14 X 6 = 84	15 X 6 = 90	16 X 6 = 96	17 X 6 = 102	18 X 6 = 108	19 X 6 = 114	20 X 6 = 120	21 X 6 = 126	22 X 6 = 132	23 X 6 = 138	24 X 6 = 144	25 X 6 = 150	26 X 6 = 156	27 X 6 = 162	28 X 6 = 168	29 X 6 = 174	30 X 6 = 180	31 X 6 = 186	32 X 6 = 192	33 X 6 = 198	34 X 6 = 204	35 X 6 = 210	36 X 6 = 216	37 X 6 = 222	38 X 6 = 228	39 X 6 = 234	40 X 6 = 240	41 X 6 = 246	42 X 6 = 252	43 X 6 = 258	44 X 6 = 264	45 X 6 = 270	46 X 6 = 276	47 X 6 = 282	48 X 6 = 288	49 X 6 = 294	50 X 6 = 300	51 X 6 = 306	52 X 6 = 312	53 X 6 = 318	54 X 6 = 324	55 X 6 = 330	56 X 6 = 336	57 X 6 = 342	58 X 6 = 348	59 X 6 = 354	60 X 6 = 360	61 X 6 = 366	62 X 6 = 372	63 X 6 = 378	64 X 6 = 384	65 X 6 = 390	66 X 6 = 396	67 X 6 = 402	68 X 6 = 408	69 X 6 = 414	70 X 6 = 420	71 X 6 = 426	72 X 6 = 432	73 X 6 = 438	74 X 6 = 444	75 X 6 = 450	76 X 6 = 456	77 X 6 = 462	78 X 6 = 468	79 X 6 = 474	80 X 6 = 480	81 X 6 = 486	82 X 6 = 492	83 X 6 = 498	84 X 6 = 504	85 X 6 = 510	86 X 6 = 516	87 X 6 = 522	88 X 6 = 528	89 X 6 = 534	90 X 6 = 540	91 X 6 = 546	92 X 6 = 552	93 X 6 = 558	94 X 6 = 564	95 X 6 = 570	96 X 6 = 576	97 X 6 = 582	98 X 6 = 588	99 X 6 = 594
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63	10 X 7 = 70	11 X 7 = 77	12 X 7 = 84	13 X 7 = 91	14 X 7 = 98	15 X 7 = 105	16 X 7 = 112	17 X 7 = 119	18 X 7 = 126	19 X 7 = 133	20 X 7 = 140	21 X 7 = 147	22 X 7 = 154	23 X 7 = 161	24 X 7 = 168	25 X 7 = 175	26 X 7 = 182	27 X 7 = 189	28 X 7 = 196	29 X 7 = 203	30 X 7 = 210	31 X 7 = 217	32 X 7 = 224	33 X 7 = 231	34 X 7 = 238	35 X 7 = 245	36 X 7 = 252	37 X 7 = 259	38 X 7 = 266	39 X 7 = 273	40 X 7 = 280	41 X 7 = 287	42 X 7 = 294	43 X 7 = 301	44 X 7 = 308	45 X 7 = 315	46 X 7 = 322	47 X 7 = 329	48 X 7 = 336	49 X 7 = 343	50 X 7 = 350	51 X 7 = 357	52 X 7 = 364	53 X 7 = 371	54 X 7 = 378	55 X 7 = 385	56 X 7 = 392	57 X 7 = 399	58 X 7 = 406	59 X 7 = 413	60 X 7 = 420	61 X 7 = 427	62 X 7 = 434	63 X 7 = 441	64 X 7 = 448	65 X 7 = 455	66 X 7 = 462	67 X 7 = 469	68 X 7 = 476	69 X 7 = 483	70 X 7 = 490	71 X 7 = 497	72 X 7 = 504	73 X 7 = 511	74 X 7 = 518	75 X 7 = 525	76 X 7 = 532	77 X 7 = 539	78 X 7 = 546	79 X 7 = 553	80 X 7 = 560	81 X 7 = 567	82 X 7 = 574	83 X 7 = 581	84 X 7 = 588	85 X 7 = 595	86 X 7 = 602	87 X 7 = 609	88 X 7 = 616	89 X 7 = 623	90 X 7 = 630	91 X 7 = 637	92 X 7 = 644	93 X 7 = 651	94 X 7 = 658	95 X 7 = 665	96 X 7 = 672	97 X 7 = 679	98 X 7 = 686	99 X 7 = 693
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72	10 X 8 = 80	11 X 8 = 88	12 X 8 = 96	13 X 8 = 104	14 X 8 = 112	15 X 8 = 120	16 X 8 = 128	17 X 8 = 136	18 X 8 = 144	19 X 8 = 152	20 X 8 = 160	21 X 8 = 168	22 X 8 = 176	23 X 8 = 184	24 X 8 = 192	25 X 8 = 200	26 X 8 = 208	27 X 8 = 216	28 X 8 = 224	29 X 8 = 232	30 X 8 = 240	31 X 8 = 248	32 X 8 = 256	33 X 8 = 264	34 X 8 = 272	35 X 8 = 280	36 X 8 = 288	37 X 8 = 296	38 X 8 = 304	39 X 8 = 312	40 X 8 = 320	41 X 8 = 328	42 X 8 = 336	43 X 8 = 344	44 X 8 = 352	45 X 8 = 360	46 X 8 = 368	47 X 8 = 376	48 X 8 = 384	49 X 8 = 392	50 X 8 = 400	51 X 8 = 408	52 X 8 = 416	53 X 8 = 424	54 X 8 = 432	55 X 8 = 440	56 X 8 = 448	57 X 8 = 456	58 X 8 = 464	59 X 8 = 472	60 X 8 = 480	61 X 8 = 488	62 X 8 = 496	63 X 8 = 504	64 X 8 = 512	65 X 8 = 520	66 X 8 = 528	67 X 8 = 536	68 X 8 = 544	69 X 8 = 552	70 X 8 = 560	71 X 8 = 568	72 X 8 = 576	73 X 8 = 584	74 X 8 = 592	75 X 8 = 600	76 X 8 = 608	77 X 8 = 616	78 X 8 = 624	79 X 8 = 632	80 X 8 = 640	81 X 8 = 648	82 X 8 = 656	83 X 8 = 664	84 X 8 = 672	85 X 8 = 680	86 X 8 = 688	87 X 8 = 696	88 X 8 = 704	89 X 8 = 712	90 X 8 = 720	91 X 8 = 728	92 X 8 = 736	93 X 8 = 744	94 X 8 = 752	95 X 8 = 760	96 X 8 = 768	97 X 8 = 776	98 X 8 = 784	99 X 8 = 792
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81	10 X 9 = 90	11 X 9 = 99	12 X 9 = 108	13 X 9 = 117	14 X 9 = 126	15 X 9 = 135	16 X 9 = 144	17 X 9 = 153	18 X 9 = 162	19 X 9 = 171	20 X 9 = 180	21 X 9 = 189	22 X 9 = 198	23 X 9 = 207	24 X 9 = 216	25 X 9 = 225	26 X 9 = 234	27 X 9 = 243	28 X 9 = 252	29 X 9 = 261	30 X 9 = 270	31 X 9 = 279	32 X 9 = 288	33 X 9 = 297	34 X 9 = 306	35 X 9 = 315	36 X 9 = 324	37 X 9 = 333	38 X 9 = 342	39 X 9 = 351	40 X 9 = 360	41 X 9 = 369	42 X 9 = 378	43 X 9 = 387	44 X 9 = 396	45 X 9 = 405	46 X 9 = 414	47 X 9 = 423	48 X 9 = 432	49 X 9 = 441	50 X 9 = 450	51 X 9 = 459	52 X 9 = 468	53 X 9 = 477	54 X 9 = 486	55 X 9 = 495	56 X 9 = 504	57 X 9 = 513	58 X 9 = 522	59 X 9 = 531	60 X 9 = 540	61 X 9 = 549	62 X 9 = 558	63 X 9 = 567	64 X 9 = 576	65 X 9 = 585	66 X 9 = 594	67 X 9 = 603	68 X 9 = 612	69 X 9 = 621	70 X 9 = 630	71 X 9 = 639	72 X 9 = 648	73 X 9 = 657	74 X 9 = 666	75 X 9 = 675	76 X 9 = 684	77 X 9 = 693	78 X 9 = 702	79 X 9 = 711	80 X 9 = 720	81 X 9 = 729	82 X 9 = 738	83 X 9 = 747	84 X 9 = 756	85 X 9 = 765	86 X 9 = 774	87 X 9 = 783	88 X 9 = 792	89 X 9 = 801	90 X 9 = 810	91 X 9 = 819	92 X 9 = 828	93 X 9 = 837	94 X 9 = 846	95 X 9 = 855	96 X 9 = 864	97 X 9 = 873	98 X 9 = 882	99 X 9 = 891

In [ ]:
length = 20
for i in range(1,length+1):
    bnk = " " * (length - i)
    star = '*' * (2*i-1)
    print((bnk + star + bnk))

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************
          *******************
         *********************
        ***********************
       *************************
      ***************************
     *****************************
    *******************************
   *********************************
  ***********************************
 *************************************
***************************************

In [16]:
# length에서 0까지 줄여가면서 실행
length = 20
for i in range(length,0,-1):
    bnk = "0" * (length - i)
    star = '*' * (2*i-1)
    print((bnk + star + bnk))

***************************************
0*************************************0
00***********************************00
000*********************************000
0000*******************************0000
00000*****************************00000
000000***************************000000
0000000*************************0000000
00000000***********************00000000
000000000*********************000000000
0000000000*******************0000000000
00000000000*****************00000000000
000000000000***************000000000000
0000000000000*************0000000000000
00000000000000***********00000000000000
000000000000000*********000000000000000
0000000000000000*******0000000000000000
00000000000000000*****00000000000000000
000000000000000000***000000000000000000
0000000000000000000*0000000000000000000

In [19]:
# 0부터 length까지 실행
length = 20
for i in range(1, length):
    bnk = "0" * (i-1)
    star = '*' * (length*2 - 2*i-1)
    print((bnk + star + bnk))

*************************************
0***********************************0
00*********************************00
000*******************************000
0000*****************************0000
00000***************************00000
000000*************************000000
0000000***********************0000000
00000000*********************00000000
000000000*******************000000000
0000000000*****************0000000000
00000000000***************00000000000
000000000000*************000000000000
0000000000000***********0000000000000
00000000000000*********00000000000000
000000000000000*******000000000000000
0000000000000000*****0000000000000000
00000000000000000***00000000000000000
000000000000000000*000000000000000000