In [1]:
print("잘 되셨나요?")

잘 되셨나요?

# 파이썬 시작
# H1
## H2
### H3
#### H4
##### H5

* 첫째
  * 둘째
    * 셋째
1. 하나
2. 둘
3. 셋

첫번째줄  
두번째줄

In [6]:
year = input("태어난 연도 입력 : ")
age = 2025-int(year)+1
print("당신의 나이는 "+str(age)+"세 입니다")

당신의 나이는 33세 입니다

In [9]:
print( 5 * 7 )
print( "공부" * 7 +"해요")

35
공부공부공부공부공부공부공부해요

In [25]:
# slice 예제
text = "동해물과 백두산이 마르고 닳도록 동서남북"
print("##" + text[5:9] + "##")
print("##" + text[5:9],"##",sep = "")
print("##" + text[:2] + "##")
print("##" + text[:-1] + "##")
print("##" + text[::2] + "##")
print("##" + text[1::2] + "##")

##백두산이##
##백두산이##
##동해##
##동해물과 백두산이 마르고 닳도록 동서남##
##동물 두이마고닳록동남##
##해과백산 르 도 서북##

In [27]:
print(len(text))
print(text.count("동"))
print(text[len(text)-1])

22
2
북

In [30]:
license_plate = "24가 2210"
print(license_plate[-4:])
print(license_plate[::-1])

2210
0122 가42

In [36]:
a = "나는 사과를 좋아합니다. 사과는 빨개. 사과는 맛있어"
b = a.replace("사과","바나나")
c = a.replace("사과","바나나",1)
print(b, c, sep = "\n")

나는 바나나를 좋아합니다. 바나나는 빨개. 바나나는 맛있어
나는 바나나를 좋아합니다. 사과는 빨개. 사과는 맛있어

In [38]:
phone_number = "010-1234-5678"
print(phone_number.replace("-",""))

01012345678

In [53]:
url = "http://www.example.com"
url_split = url.split(".")
print(url_split)
url2 = "-".join(url_split)
print(url2)

['http://www', 'example', 'com']
http://www-example-com

In [55]:
str = "삼성 국민취업 아카데미"
print(str.find("국민취업"))
print(str.index("국민취업"))
print(str.count("국민취업"))

3
3
1

In [58]:
mail = input("이메일 주소를 입력하세요:")
pos = mail.find("@")
id = mail[:pos]
domain = mail[pos+1:]
print("아이디 : ", id.strip())
print("도메인 : ", domain.strip())

아이디 :
도메인 :

In [60]:
sentence = "apple banana apple orange banana apple"
words = sentence.split()
print(words)
print(words.count("apple"))

['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
3