# 2025-07-21 월요일 파이썬 3일째
---

In [1]:
n = 10

for i in range(1,n):
    k = i if i <= n // 2 else n - i
    txt = '*' * (2 * k - 1)
    print(f"|{txt:^{n-1}}|")
    # print(f"i:{i}\tk:{k}\tn-i:{n-i}")

|    *    |
|   ***   |
|  *****  |
| ******* |
|*********|
| ******* |
|  *****  |
|   ***   |
|    *    |

In [2]:
length = 20
half = length//2

for i in range(1,length):
    k = i if i <= half else length - i
    bnk = ' ' * (half - i if i <= half else half - k)
    txt = '*' * (2 * k - 1)
    print(bnk + txt + bnk)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [3]:
# 1부터 100까지의 합
total = 0
limit = 10000
for i in range(limit+1):
    total += i
print(f"1부터 {limit:,}까지의 총합 : {total:,}!")

1부터 10,000까지의 총합 : 50,005,000!

In [4]:
# 1부터 100까지의 짝수의 합
total = 0
limit = 1000
for i in range(0,limit+1,2):
    total += i
print(f"1부터 {limit}까지의 총합 : {total}!")

1부터 1000까지의 총합 : 250500!

In [5]:
# 1부터 100까지 4의 배수의 갯수는?
total = 0
limit = 100
cnt = 0
for i in range(4,limit+1,4):
    if( i % 4 == 0):
        total += i
        cnt += 1
        print(i, end = " ")
print(f"\n4의 배수의 {limit}까지 총합 : {total}, 갯수는 {cnt}개")

4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100
4의 배수의 100까지 총합 : 1300, 갯수는 25개

In [6]:
# 삼항 연산자 활용
age = int(input("나이를 입력하세요:"))

status = "성인" if age >= 18 else "청소년"

print(f"당신의 나이는 {age}세이고 {status}입니다")

당신의 나이는 33세이고 성인입니다

In [7]:
score = 85
grade = 'A' if score >= 90 else 'B' if score >= 80 else 'C'
print(f"당신의 점수는 {grade}입니다")

당신의 점수는 B입니다

In [8]:
fruits = ["사과","바나나","체리"]
for fruit in fruits:
    print(fruit)

사과
바나나
체리

In [9]:
numbers = [10, 20, 30, 40, 50]
target = 30
if target in numbers:
    print(f"{target}은 리스트에 있습니다")
else:
    print(f"{target}은 리스트에 없습니다")

30은 리스트에 있습니다

In [10]:
numbers = [10, 20, 30, 40, 50]
target = 30
found = False

for number in numbers:
    if(number == target):
        found = True
        break

if found:
    print(f"{target}은 리스트에 있습니다")
else:
    print(f"{target}은 리스트에 없습니다")

30은 리스트에 있습니다

In [11]:
# ~번 학생 합격입니다
scores = [90, 25, 67, 45, 80]
for i in range(len(scores)):
    if(scores[i] >= 60):
        print(f"{i+1}번학생 합격입니다. [{scores[i]}점]")
    else:
        print(f"{i+1}번학생 불합격입니다. [{scores[i]}점]")

1번학생 합격입니다. [90점]
2번학생 불합격입니다. [25점]
3번학생 합격입니다. [67점]
4번학생 불합격입니다. [45점]
5번학생 합격입니다. [80점]

In [12]:
# for i, s in enumerate(scores): # 인덱스를 0부터 시작(기본값)
for i, s in enumerate(scores, 1): # 인덱스를 1부터 시작
    if(s >= 60):
        print(f"{i}번학생 합격입니다. [{s}점]")
    else:
        print(f"{i}번학생 불합격입니다. [{s}점]")

1번학생 합격입니다. [90점]
2번학생 불합격입니다. [25점]
3번학생 합격입니다. [67점]
4번학생 불합격입니다. [45점]
5번학생 합격입니다. [80점]

In [13]:
std = ['홍길동','이순신','강감찬','김구','세종대왕']
scores = [90, 25, 67, 45, 80]
for i, score in enumerate(scores):
    if score >= 60:
        print(f"{std[i]} 학생({score}점) 합격입니다")
    else:
        print(f"{std[i]} 학생({score}점) 불합격입니다")

홍길동 학생(90점) 합격입니다
이순신 학생(25점) 불합격입니다
강감찬 학생(67점) 합격입니다
김구 학생(45점) 불합격입니다
세종대왕 학생(80점) 합격입니다

In [14]:
std = ['홍길동','이순신','강감찬','김구','세종대왕']
scores = [90, 25, 67, 45, 80]
for s, score in zip(std, scores):
    if score >= 60:
        print(f"{s} 학생({score}점) 합격입니다")
    else:
        print(f"{s} 학생({score}점) 불합격입니다")

홍길동 학생(90점) 합격입니다
이순신 학생(25점) 불합격입니다
강감찬 학생(67점) 합격입니다
김구 학생(45점) 불합격입니다
세종대왕 학생(80점) 합격입니다

In [15]:
std = ['홍길동','이순신','강감찬','김구','세종대왕']
scores = [90, 25, 67, 45, 80]
for i, (s, score) in enumerate(zip(std, scores), 1):
    if score >= 60:
        print(f"{i}.{s} 학생({score}점) 합격입니다")
    else:
        print(f"{i}.{s} 학생({score}점) 불합격입니다")

1.홍길동 학생(90점) 합격입니다
2.이순신 학생(25점) 불합격입니다
3.강감찬 학생(67점) 합격입니다
4.김구 학생(45점) 불합격입니다
5.세종대왕 학생(80점) 합격입니다

In [16]:
fruits = ["apple","banana","cherry","mango"]
for fruit in fruits:
    if "a" in fruit:
        print(f"{fruit}에는 a가 포함되어 있습니다")
    else:
        print(f"{fruit}에는 a가 포함되어 있지 않습니다")

apple에는 a가 포함되어 있습니다
banana에는 a가 포함되어 있습니다
cherry에는 a가 포함되어 있지 않습니다
mango에는 a가 포함되어 있습니다

In [17]:

accounts = [8500, 12000, 15000, 7000]
rate = 0.01 # 이자 : 1%
for account in accounts:
    print(f"잔고 : {account:,}원", end = "\t")
    if account >= 10000: # 10000원 이상일 때만 이자 계산
        interest = account*rate
        print(f"이자 : {interest}원")
    else:
        print(f"이자 : 없음")

잔고 : 8,500원	이자 : 없음
잔고 : 12,000원	이자 : 120.0원
잔고 : 15,000원	이자 : 150.0원
잔고 : 7,000원	이자 : 없음

In [18]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print(f"{number+1}번 학생 합격입니다 [{marks[number]}점]")

1번 학생 합격입니다 [90점]
3번 학생 합격입니다 [67점]
5번 학생 합격입니다 [80점]