# 2025-07-23 수요일 파이썬 5일째

In [10]:
# 쇼핑카트에서 상품목록 출력
'''
1번 : 사과
2번 : 바나나
3번 : 딸기
'''
cart = ['사과','바나나','딸기']
shopping_list = {f"{k}번":v for k,v in enumerate(cart,1)}
for k,v in shopping_list.items():
    print(f"{k} : {v}")

1번 : 사과
2번 : 바나나
3번 : 딸기

In [ ]:
'''
민수 : 85점
지영 : 92점
철수 : 78점
'''
students = ['민수','지영','철수']
scores = [85, 92, 78]

class_score = {k:v for k,v in zip(students,scores)}
for k,v in class_score.items():
    print(f"{k} : {v}점")

민수 : 85점
지영 : 92점
철수 : 78점

In [19]:
codes = ['M1','M2','M3']
students = ['민수','지영','철수']
scores = [85, 92, 78]

for c in zip(codes, students, scores):
    print(c)

for code, name, score in zip(codes, students, scores):
    print(f"[{code}] {name} : {score}점")

('M1', '민수', 85)
('M2', '지영', 92)
('M3', '철수', 78)
[M1] 민수 : 85점
[M2] 지영 : 92점
[M3] 철수 : 78점

In [ ]:
names = ['kim','lee','park']

emails = [f"{name}@example.com" for name in names]
for e in emails:
    print(e)

kim@example.com
lee@example.com
park@example.com

In [10]:
'''
수학 : 90
영어 : 92
과학 : 95
'''
subjects = ['수학','영어','과학']
scores = [
    [87, 90, 85],
    [92, 88, 89],
    [76, 95, 91]
]

max_scores = [max(score) for score in scores]
max_subject = {s:m for s,m in zip(subjects, max_scores)}
for k,v in max_subject.items():
    print(f"{k} 최고점 : {v}점")

수학 최고점 : 90점
영어 최고점 : 92점
과학 최고점 : 95점

In [12]:
names = ['수진','영호','미경']
ages = [23, 31, 27]
for i,(name, age) in enumerate(zip(names,ages),1):
    print(f"{i}번 참가자 : {name}({age}세)")

1번 참가자 : 수진(23세)
2번 참가자 : 영호(31세)
3번 참가자 : 미경(27세)

In [14]:
expected = ['배송중','배송완료','배송중']
actual = ['배송중','지연','배송중']
result = ['일치' if e == a else '불일치' for e,a in zip(expected,actual)]
print(result)

['일치', '불일치', '일치']

In [28]:
receipts = [12000,5300,21200,4300]
print(receipts)

# 컴프리헨션으로 리스트를 생성한 후 출력
even = [r for i, r in enumerate(receipts,1) if i % 2 == 0]
print(even)

result1 = sum(even)
print(result1)

# 제너레이터 표현식을 이용해 결과값만 생성 후 출력
result2 = sum(r for i, r in enumerate(receipts,1) if i % 2 == 0)
print(result2)

result3= (r for i, r in enumerate(receipts,1) if i % 2 == 0)
print(sum(result3))

[12000, 5300, 21200, 4300]
[5300, 4300]
9600
9600
9600

In [35]:
# 리스트 컴프리헨션
s1 = [x**2 for i, x in enumerate(range(10),1) if i % 2 == 0]
print(s1)

# 제너레이터 표현식(1회용)
s2 = (x**2 for i, x in enumerate(range(10),1) if i % 2 == 0)
print(list(s2))

print(s1)
print(list(s2))

[1, 9, 25, 49, 81]
[1, 9, 25, 49, 81]
[1, 9, 25, 49, 81]
[]

In [40]:
s2 = (x**2 for x in range(10))
print(list(s2))
for n in s2:
    print(n, end = ", ")

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
morning = ['민호','영수','지혜']
evening = ['수진','영희','준호']
result = [(a,b) for a,b in zip(morning,evening)]
print(result)
# 전치 : 행과 열을 바꾸는 것
f,s = zip(*result) # * : 언패킹
# f,s = zip(result[0], result[1], result[2])
r = list(zip(list(s),list(f)))
print(r)

[('민호', '수진'), ('영수', '영희'), ('지혜', '준호')]
[('수진', '민호'), ('영희', '영수'), ('준호', '지혜')]

In [54]:
# 전치행렬 구하기
data =[
    ('a1','a2'),
    ('b1','b2'),
    ('c1','c2')
]
print(data)
print(list(zip(*data)))
print(list(zip(('a1','a2'),('b1','b2'),('c1','c2'))))

[('a1', 'a2'), ('b1', 'b2'), ('c1', 'c2')]
[('a1', 'b1', 'c1'), ('a2', 'b2', 'c2')]
[('a1', 'b1', 'c1'), ('a2', 'b2', 'c2')]

In [60]:
answers = [3, 1, 2, 4, 2, 3, 3, 1, 5]
student = [3, 1, 2, 1, 2, 1, 2, 1, 5]

corr = [1 if a == s else 0 for a, s in zip(answers, student)]
score = score.count(1) / len(answers) * 100

print(corr)
print(f"{score:.2f}점")

[1, 1, 1, 0, 1, 0, 0, 1, 1]
66.67점

In [ ]:
students = ['호준','수빈','나래']

new = {i:s for i, s in enumerate(students,1)}
new2 = {f"{i:03d}":s for i, s in enumerate(students,1)}

print(new)
print(new2)

{1: '호준', 2: '수빈', 3: '나래'}
{'001': '호준', '002': '수빈', '003': '나래'}

In [103]:
customer_tuples = [
    ("C001", "김철수", 35, "남성",150000,"2024-03-15"),
    ("C002", "이영희", 35, "여성",280000,"2024-03-14"),
    ("C003", "박민수", 35, "남성",95000,"2024-03-13")
]
# 튜플데이터 : (고객ID, 이름, 나이, 성별, 구매금액, 구매날짜)

In [122]:
keys1 = ("ID","이름", "나이", "성별", "구매금액", "구매날짜")
dict1 = {key : list(customer) for key, customer in zip(keys1, zip(*customer_tuples))}
dict1

{'ID': ['C001', 'C002', 'C003'],
 '이름': ['김철수', '이영희', '박민수'],
 '나이': [35, 35, 35],
 '성별': ['남성', '여성', '남성'],
 '구매금액': [150000, 280000, 95000],
 '구매날짜': ['2024-03-15', '2024-03-14', '2024-03-13']}

In [123]:
keys2 = ("ID","이름", "나이", "성별", "구매금액", "구매날짜")
dict2 = [dict(zip(keys2,customer)) for customer in customer_tuples]
dict2

[{'ID': 'C001',
  '이름': '김철수',
  '나이': 35,
  '성별': '남성',
  '구매금액': 150000,
  '구매날짜': '2024-03-15'},
 {'ID': 'C002',
  '이름': '이영희',
  '나이': 35,
  '성별': '여성',
  '구매금액': 280000,
  '구매날짜': '2024-03-14'},
 {'ID': 'C003',
  '이름': '박민수',
  '나이': 35,
  '성별': '남성',
  '구매금액': 95000,
  '구매날짜': '2024-03-13'}]

In [ ]:
keys_id,*keys_info = ("ID","이름", "나이", "성별", "구매금액", "구매날짜")
dict3 = {id : dict(zip(keys_info,customer)) for id, *customer in customer_tuples}
dict3

{'C001': {'이름': '김철수',
  '나이': 35,
  '성별': '남성',
  '구매금액': 150000,
  '구매날짜': '2024-03-15'},
 'C002': {'이름': '이영희',
  '나이': 35,
  '성별': '여성',
  '구매금액': 280000,
  '구매날짜': '2024-03-14'},
 'C003': {'이름': '박민수',
  '나이': 35,
  '성별': '남성',
  '구매금액': 95000,
  '구매날짜': '2024-03-13'}}

In [ ]:
customer_tuples

[('C001', '김철수', 35, '남성', 150000, '2024-03-15'),
 ('C002', '이영희', 35, '여성', 280000, '2024-03-14'),
 ('C003', '박민수', 35, '남성', 95000, '2024-03-13')]

In [137]:
print(*customer_tuples)

('C001', '김철수', 35, '남성', 150000, '2024-03-15') ('C002', '이영희', 35, '여성', 280000, '2024-03-14') ('C003', '박민수', 35, '남성', 95000, '2024-03-13')

In [132]:
list(zip(*customer_tuples))

[('C001', 'C002', 'C003'),
 ('김철수', '이영희', '박민수'),
 (35, 35, 35),
 ('남성', '여성', '남성'),
 (150000, 280000, 95000),
 ('2024-03-15', '2024-03-14', '2024-03-13')]

In [139]:
def f(x, y): print(x, y)
d = {'x':1,
     'y':2}
print(d)
print(*d)
f(**d)

{'x': 1, 'y': 2}
x y
1 2