In [ ]:
filename = 'students2.txt'

with open(filename, 'r', encoding='utf-8') as f:
    txt = f.readlines()

header = txt[0].strip().split(',')
values_str = list(zip(*[t.strip().split(',') for t in txt[1:]]))
values = [[int(item) if item.isdigit() else item for item in col] for col in values_str]
result = {h : list(v) for h, v in zip(header,values)}
result

{'이름': ['홍길동', '김민수', '이영희', '박지훈', '최지혜', '이수진', '김철수', '정하늘', '유재석', '신동엽'],
 '나이': [20, 22, 19, 21, 20, 23, 24, 22, 25, 30],
 '키': [175, 180, 160, 182, 168, 165, 173, 170, 182, 179]}

In [ ]:
filename = 'students2.txt'

result = {}

with open(filename, 'r', encoding='utf-8') as f:
    header = next(f).strip().split(',')

    for k in header:
        result[k] = []
    for line in f:
        values = line.strip().split(',')
        for k,v in zip(header, values):
            result[k].append(int(v) if v.isdigit() else v)
result

{'이름': ['홍길동', '김민수', '이영희', '박지훈', '최지혜', '이수진', '김철수', '정하늘', '유재석', '신동엽'],
 '나이': [20, 22, 19, 21, 20, 23, 24, 22, 25, 30],
 '키': [175, 180, 160, 182, 168, 165, 173, 170, 182, 179]}

In [ ]:
filename = 'students2.txt'

data = {}
with open(filename, 'r', encoding='utf-8') as f:
    header = next(f).strip().split(',')
    for line in f:
        values = line.strip().split(',')
        for k, v in zip(header, values):
            if k not in data:
                data[k] = []
            data[k].append(int(v) if v.isdigit() else v)
data

{'이름': ['홍길동', '김민수', '이영희', '박지훈', '최지혜', '이수진', '김철수', '정하늘', '유재석', '신동엽'],
 '나이': [20, 22, 19, 21, 20, 23, 24, 22, 25, 30],
 '키': [175, 180, 160, 182, 168, 165, 173, 170, 182, 179]}

In [ ]:
def read_students(filename):
    data = {}
    with open(filename, 'r', encoding='utf-8') as f:
        header = next(f).strip().split(',')
        for line in f:
            values = line.strip().split(',')
            for k, v in zip(header, values):
                if k not in data:
                    data[k] = []
                data[k].append(int(v) if v.isdigit() else v)
    return data
filename = 'students2.txt'

data2 = read_students(filename)
data2

{'이름': ['홍길동', '김민수', '이영희', '박지훈', '최지혜', '이수진', '김철수', '정하늘', '유재석', '신동엽'],
 '나이': [20, 22, 19, 21, 20, 23, 24, 22, 25, 30],
 '키': [175, 180, 160, 182, 168, 165, 173, 170, 182, 179]}

In [ ]:
import minfo as mf

data = mf.read_students("products.txt", 1)
data

{'상품명': ['사과', '바나나', '오렌지', '포도', '망고', '딸기', '복숭아', '수박', '키위', '배'],
 '가격': [1000, 500, 700, 1500, 2000, 2500, 1200, 3000, 1000, 1300]}