# 09.11
## 연관 분석 (장바구니 분석)

In [105]:
# !pip install mlxtend

In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules

df = pd.read_csv('retail_dataset.csv')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       315 non-null    object
 1   1       285 non-null    object
 2   2       245 non-null    object
 3   3       187 non-null    object
 4   4       133 non-null    object
 5   5       71 non-null     object
 6   6       41 non-null     object
dtypes: object(7)
memory usage: 17.4+ KB

          0       1       2       3       4       5       6
0     Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1     Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
2    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
3    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
4      Meat  Pencil    Wine     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...
310   Bread    Eggs  Cheese     NaN     NaN     NaN     NaN
311    Meat    Milk  Pencil     NaN     NaN     NaN     NaN
312   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine
313    Meat  Cheese     NaN     NaN     NaN     NaN     NaN
314    Eggs    Wine   Bagel   Bread    Meat     NaN     NaN

[315 rows x 7 columns]

In [ ]:
items = set()
for col in df:
    print(df[col].unique())
    items.update(df[col].unique())
    print('-'*20)
items.remove(np.nan)
print(items)

['Bread' 'Cheese' 'Meat' 'Eggs' 'Wine' 'Bagel' 'Pencil' 'Diaper' 'Milk']
--------------------
['Wine' 'Cheese' 'Meat' 'Pencil' 'Bread' 'Diaper' 'Eggs' nan 'Bagel'
 'Milk']
--------------------
['Eggs' 'Meat' 'Wine' 'Milk' 'Cheese' 'Diaper' 'Pencil' nan 'Bagel'
 'Bread']
--------------------
['Meat' 'Diaper' 'Milk' nan 'Pencil' 'Cheese' 'Bread' 'Bagel' 'Wine'
 'Eggs']
--------------------
['Cheese' 'Wine' nan 'Milk' 'Diaper' 'Pencil' 'Meat' 'Bagel' 'Bread'
 'Eggs']
--------------------
['Pencil' 'Milk' nan 'Diaper' 'Eggs' 'Wine' 'Cheese' 'Bagel' 'Meat'
 'Bread']
--------------------
['Diaper' 'Pencil' nan 'Bagel' 'Cheese' 'Milk' 'Meat' 'Bread' 'Eggs'
 'Wine']
--------------------
{'Bagel', 'Bread', 'Diaper', 'Eggs', 'Cheese', 'Wine', 'Pencil', 'Meat', 'Milk'}

In [153]:
# 원-핫 인코딩 커스텀
itemset = set(items)

encoding = []
for index, row in df.iterrows():
    rowset = set(row)
    labels = {}
    # 구매하지 않은 상품 리스트
    dismatching = list(itemset - rowset)
    # 구매한 상품 리스트
    matching = list(itemset.intersection(rowset))

    for i in dismatching:
        labels[i] = 0
    for j in matching:
        labels[j] = 1

    encoding.append(labels)

result = pd.DataFrame(encoding)
result

     Bagel  Milk  Bread  Diaper  Eggs  Cheese  Wine  Pencil  Meat
0        0     0      1       1     1       1     1       1     1
1        0     1      1       1     0       1     1       1     1
2        0     1      0       0     1       1     1       0     1
3        0     1      0       0     1       1     1       0     1
4        0     0      0       0     0       0     1       1     1
..     ...   ...    ...     ...   ...     ...   ...     ...   ...
310      0     0      1       0     1       1     0       0     0
311      0     1      0       0     0       0     0       1     1
312      0     0      1       1     1       1     1       1     1
313      0     0      0       0     0       1     0       0     1
314      1     0      1       0     1       0     1       0     1

[315 rows x 9 columns]

In [109]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bagel   315 non-null    int64
 1   Milk    315 non-null    int64
 2   Bread   315 non-null    int64
 3   Diaper  315 non-null    int64
 4   Eggs    315 non-null    int64
 5   Cheese  315 non-null    int64
 6   Wine    315 non-null    int64
 7   Pencil  315 non-null    int64
 8   Meat    315 non-null    int64
dtypes: int64(9)
memory usage: 22.3 KB

In [110]:
# nan 삭제(위에서 제거해서 필요없음)
# result.columns[2]

In [111]:
# result = result.drop(result.columns[2], axis=1)
# result

In [112]:
freq_items = apriori(result, min_support=0.2, use_colnames=True)
freq_items

c:\Temp\2025\venv310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support              itemsets
0   0.425397               (Bagel)
1   0.501587                (Milk)
2   0.504762               (Bread)
3   0.406349              (Diaper)
4   0.438095                (Eggs)
5   0.501587              (Cheese)
6   0.438095                (Wine)
7   0.361905              (Pencil)
8   0.476190                (Meat)
9   0.225397         (Bagel, Milk)
10  0.279365        (Bagel, Bread)
11  0.279365         (Milk, Bread)
12  0.244444          (Milk, Eggs)
13  0.304762        (Milk, Cheese)
14  0.219048          (Milk, Wine)
15  0.244444          (Meat, Milk)
16  0.231746       (Bread, Diaper)
17  0.238095       (Bread, Cheese)
18  0.244444         (Bread, Wine)
19  0.200000       (Bread, Pencil)
20  0.206349         (Meat, Bread)
21  0.200000      (Diaper, Cheese)
22  0.234921        (Diaper, Wine)
23  0.298413        (Cheese, Eggs)
24  0.241270          (Eggs, Wine)
25  0.266667          (Meat, Eggs)
26  0.269841        (Cheese, Wine)
27  0.200000      (Cheese, Pencil)
28  0.323810        (Meat, Cheese)
29  0.200000        (Wine, Pencil)
30  0.250794          (Meat, Wine)
31  0.203175  (Meat, Milk, Cheese)
32  0.215873  (Meat, Cheese, Eggs)

In [113]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.6)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,1.0,0.064641,1.442650,0.402687,0.429268,0.306831,0.605088
1,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,1.0,0.053172,1.270148,0.350053,0.436364,0.212690,0.607595
2,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,1.0,0.053172,1.270148,0.350053,0.436364,0.212690,0.607595
3,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,1.0,0.078670,1.563203,0.469167,0.465347,0.360288,0.638048
4,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,1.0,0.058050,1.338624,0.387409,0.411765,0.252964,0.584348

### with gpt

In [142]:
row_lists = df.values.tolist()
products = [[x for x in row if not pd.isna(x)] for row in row_lists]
products

[['Bread', 'Wine', 'Eggs', 'Meat', 'Cheese', 'Pencil', 'Diaper'],
 ['Bread', 'Cheese', 'Meat', 'Diaper', 'Wine', 'Milk', 'Pencil'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Meat', 'Pencil', 'Wine'],
 ['Eggs', 'Bread', 'Wine', 'Pencil', 'Milk', 'Diaper', 'Bagel'],
 ['Wine', 'Pencil', 'Eggs', 'Cheese'],
 ['Bagel', 'Bread', 'Milk', 'Pencil', 'Diaper'],
 ['Bread', 'Diaper', 'Cheese', 'Milk', 'Wine', 'Eggs'],
 ['Bagel', 'Wine', 'Diaper', 'Meat', 'Pencil', 'Eggs', 'Cheese'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Bagel', 'Eggs', 'Meat', 'Bread', 'Diaper', 'Wine', 'Milk'],
 ['Bread', 'Diaper', 'Pencil', 'Bagel', 'Meat'],
 ['Bagel', 'Cheese', 'Milk', 'Meat'],
 ['Bread'],
 ['Pencil', 'Diaper', 'Bagel'],
 ['Meat', 'Bagel', 'Bread'],
 ['Bread', 'Bagel', 'Milk'],
 ['Diaper'],
 ['Bagel', 'Cheese', 'Meat', 'Bread', 'Diaper', 'Eggs'],
 ['Meat', 'Pencil', 'Cheese', 'Bread'],
 ['Cheese', 'Eggs', 'Wine', 'Bread', 'Milk', 'Pencil', 'Meat'],
 ['Eggs', 'Bagel', 'Cheese', 'Meat', 'Diaper'],
 ['Diaper', 'Wine', 'Eggs', 'Pencil', 'Meat'],
 ['Diaper', 'Meat', 'Milk', 'Bread', 'Bagel', 'Cheese'],
 ['Pencil'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Diaper', 'Meat', 'Bread', 'Pencil', 'Wine', 'Cheese', 'Milk'],
 ['Bread', 'Bagel'],
 ['Meat', 'Bread', 'Eggs', 'Cheese', 'Milk', 'Diaper'],
 ['Diaper', 'Meat'],
 ['Cheese', 'Bagel', 'Bread', 'Diaper', 'Wine'],
 ['Cheese', 'Milk', 'Bread'],
 ['Bread', 'Bagel', 'Milk'],
 ['Diaper', 'Bread', 'Wine', 'Meat', 'Bagel'],
 ['Bread', 'Cheese', 'Milk', 'Wine', 'Diaper'],
 ['Bread', 'Bagel', 'Milk'],
 ['Bread', 'Bagel', 'Milk'],
 ['Eggs'],
 ['Bread', 'Bagel', 'Milk'],
 ['Bread', 'Bagel', 'Milk'],
 ['Meat'],
 ['Eggs', 'Wine', 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Bread'],
 ['Bagel', 'Eggs'],
 ['Diaper', 'Wine', 'Meat'],
 ['Diaper', 'Bread', 'Bagel', 'Eggs', 'Wine', 'Milk', 'Cheese'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Eggs', 'Wine'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Wine', 'Milk'],
 ['Diaper'],
 ['Wine', 'Bread', 'Bagel', 'Diaper', 'Milk'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Cheese', 'Diaper', 'Meat', 'Wine', 'Bread'],
 ['Wine', 'Milk', 'Diaper', 'Pencil', 'Cheese', 'Eggs'],
 ['Cheese', 'Eggs', 'Meat', 'Diaper', 'Wine', 'Milk', 'Bread'],
 ['Diaper', 'Eggs'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Wine', 'Cheese', 'Bagel', 'Pencil', 'Bread', 'Meat', 'Diaper'],
 ['Milk', 'Pencil', 'Cheese', 'Bagel'],
 ['Meat', 'Cheese', 'Diaper', 'Wine'],
 ['Bread', 'Bagel', 'Milk'],
 ['Bread', 'Meat', 'Pencil', 'Milk', 'Wine', 'Diaper'],
 ['Pencil', 'Cheese', 'Diaper', 'Wine', 'Eggs'],
 ['Bread', 'Diaper', 'Milk', 'Pencil', 'Cheese', 'Eggs'],
 ['Pencil', 'Milk', 'Cheese'],
 ['Eggs', 'Bagel', 'Bread'],
 ['Diaper', 'Bread', 'Cheese', 'Bagel', 'Meat', 'Pencil'],
 ['Bread', 'Bagel', 'Milk', 'Diaper'],
 ['Eggs', 'Bread'],
 ['Pencil', 'Milk', 'Diaper', 'Eggs'],
 ['Pencil', 'Milk', 'Meat', 'Cheese'],
 ['Bagel', 'Bread', 'Diaper', 'Cheese', 'Meat'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Bread', 'Wine', 'Eggs', 'Bagel', 'Cheese', 'Pencil', 'Diaper'],
 ['Diaper'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Milk'],
 ['Bread', 'Pencil'],
 ['Wine', 'Milk', 'Cheese'],
 ['Cheese', 'Bagel'],
 ['Pencil', 'Diaper', 'Wine'],
 ['Eggs', 'Meat', 'Cheese'],
 ['Meat', 'Bagel', 'Pencil'],
 ['Meat', 'Eggs', 'Bagel', 'Cheese', 'Wine'],
 ['Bread', 'Cheese', 'Wine', 'Bagel', 'Milk', 'Meat'],
 ['Meat', 'Cheese', 'Pencil', 'Wine', 'Bread'],
 ['Milk', 'Cheese', 'Wine', 'Bagel', 'Meat', 'Pencil', 'Bread'],
 ['Pencil', 'Cheese', 'Wine', 'Milk', 'Diaper', 'Bagel'],
 ['Bread', 'Bagel', 'Milk'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Cheese', 'Diaper', 'Pencil', 'Bagel', 'Wine', 'Meat', 'Eggs'],
 ['Eggs', 'Meat', 'Wine', 'Bagel', 'Milk', 'Cheese', 'Diaper'],
 ['Meat'],
 ['Bread', 'Bagel', 'Milk'],
 ['Pencil'],
 ['Wine', 'Diaper', 'Bread', 'Cheese'],
 ['Bagel', 'Pencil', 'Wine', 'Meat'],
 ['Wine', 'Bread'],
 ['Bread', 'Milk', 'Eggs', 'Cheese', 'Wine', 'Pencil'],
 ['Cheese', 'Milk', 'Meat', 'Eggs', 'Bagel'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Diaper', 'Wine', 'Meat', 'Eggs'],
 ['Meat', 'Diaper'],
 ['Pencil', 'Wine', 'Bread', 'Milk'],
 ['Bagel', 'Bread', 'Eggs', 'Milk', 'Pencil', 'Meat', 'Wine'],
 ['Milk', 'Cheese', 'Wine', 'Meat', 'Bagel', 'Diaper', 'Bread'],
 ['Bagel', 'Diaper', 'Milk', 'Cheese', 'Wine'],
 ['Bread', 'Bagel', 'Milk'],
 ['Diaper'],
 ['Bagel', 'Pencil', 'Bread', 'Cheese', 'Eggs'],
 ['Bread', 'Eggs', 'Cheese'],
 ['Meat', 'Milk', 'Pencil'],
 ['Bread', 'Cheese', 'Eggs', 'Meat', 'Pencil', 'Diaper', 'Wine'],
 ['Meat', 'Cheese'],
 ['Eggs', 'Wine', 'Bagel', 'Bread', 'Meat'],
 ['Bagel', 'Cheese'],
 ['Bagel', 'Pencil', 'Diaper', 'Wine', 'Meat'],
 ['Milk', 'Pencil'],
 ['Pencil', 'Wine', 'Bagel', 'Eggs', 'Diaper'],
 ['Bread', 'Meat', 'Milk', 'Cheese', 'Wine', 'Eggs', 'Pencil'],
 ['Bread', 'Bagel', 'Milk'],
 ['Pencil', 'Bread'],
 ['Eggs', 'Milk', 'Bagel', 'Wine'],
 ['Cheese', 'Pencil', 'Meat', 'Eggs', 'Milk', 'Bagel', 'Wine'],
 ['Cheese', 'Milk'],
 ['Diaper', 'Pencil', 'Milk', 'Bread'],
 ['Bread', 'Bagel', 'Milk'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Bread', 'Bagel', 'Milk'],
 ['Diaper'],
 ['Meat', 'Bread', 'Wine', 'Diaper', 'Bagel'],
 ['Bagel'],
 ['Wine', 'Diaper'],
 ['Meat', 'Diaper', 'Eggs', 'Cheese', 'Bagel'],
 ['Bread', 'Pencil', 'Bagel', 'Eggs'],
 ['Milk', 'Eggs', 'Meat', 'Cheese', 'Bread', 'Wine', 'Pencil'],
 ['Pencil', 'Eggs', 'Meat'],
 ['Pencil', 'Bagel'],
 ['Bread', 'Bagel', 'Meat', 'Cheese', 'Eggs', 'Pencil'],
 ['Milk', 'Eggs', 'Bread', 'Cheese'],
 ['Milk'],
 ['Pencil', 'Meat', 'Bread', 'Bagel', 'Cheese'],
 ['Wine', 'Eggs', 'Bread', 'Diaper'],
 ['Meat', 'Cheese', 'Eggs', 'Bagel', 'Wine', 'Bread'],
 ['Meat', 'Cheese', 'Bread', 'Milk'],
 ['Cheese', 'Milk', 'Pencil', 'Eggs', 'Bread', 'Meat'],
 ['Bread'],
 ['Bread', 'Eggs', 'Bagel', 'Diaper', 'Milk', 'Meat', 'Pencil'],
 ['Milk', 'Diaper'],
 ['Cheese', 'Eggs', 'Meat', 'Wine', 'Bagel', 'Diaper', 'Bread'],
 ['Diaper', 'Bagel', 'Bread', 'Pencil', 'Cheese', 'Milk'],
 ['Diaper'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Cheese', 'Wine', 'Meat', 'Bagel'],
 ['Cheese', 'Diaper', 'Eggs', 'Milk'],
 ['Wine', 'Cheese', 'Meat', 'Pencil', 'Eggs'],
 ['Eggs', 'Bagel', 'Pencil', 'Wine', 'Cheese'],
 ['Bagel', 'Diaper'],
 ['Meat'],
 ['Bread', 'Eggs', 'Wine'],
 ['Bread', 'Milk', 'Pencil', 'Wine', 'Eggs', 'Bagel'],
 ['Milk', 'Bread', 'Bagel'],
 ['Bagel', 'Eggs'],
 ['Wine', 'Cheese', 'Milk', 'Meat', 'Bread', 'Eggs'],
 ['Meat', 'Wine'],
 ['Wine', 'Bread'],
 ['Meat', 'Eggs'],
 ['Bagel', 'Milk', 'Wine', 'Pencil', 'Cheese'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Bread', 'Diaper', 'Pencil', 'Bagel', 'Cheese'],
 ['Bread', 'Pencil', 'Diaper', 'Cheese'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Eggs', 'Bagel', 'Meat', 'Diaper', 'Pencil', 'Milk', 'Bread'],
 ['Bread', 'Bagel', 'Milk'],
 ['Diaper', 'Meat', 'Wine', 'Pencil', 'Bread'],
 ['Eggs', 'Cheese'],
 ['Cheese', 'Pencil', 'Wine'],
 ['Eggs'],
 ['Pencil', 'Milk', 'Eggs'],
 ['Bagel', 'Cheese', 'Eggs', 'Milk', 'Meat', 'Pencil', 'Bread'],
 ['Bagel', 'Diaper', 'Pencil', 'Milk', 'Meat'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Cheese', 'Bread', 'Wine'],
 ['Bread', 'Cheese', 'Milk', 'Diaper', 'Pencil'],
 ['Milk', 'Pencil', 'Bagel', 'Wine', 'Eggs', 'Meat'],
 ['Wine', 'Milk', 'Eggs', 'Bread', 'Meat'],
 ['Bread'],
 ['Bread', 'Diaper', 'Pencil', 'Meat', 'Wine'],
 ['Cheese', 'Pencil'],
 ['Bread', 'Diaper'],
 ['Bagel', 'Diaper', 'Wine', 'Bread'],
 ['Wine', 'Bread', 'Diaper'],
 ['Bread', 'Bagel', 'Milk'],
 ['Diaper', 'Bagel'],
 ['Bread', 'Meat', 'Pencil', 'Eggs', 'Cheese', 'Milk', 'Wine'],
 ['Bread', 'Wine', 'Diaper', 'Eggs', 'Pencil'],
 ['Bread', 'Wine', 'Diaper', 'Eggs', 'Pencil'],
 ['Bread', 'Wine', 'Diaper'],
 ['Bread', 'Wine', 'Diaper', 'Eggs'],
 ['Bread', 'Wine', 'Diaper', 'Eggs', 'Pencil', 'Milk'],
 ['Wine', 'Pencil', 'Eggs', 'Cheese'],
 ['Bagel', 'Bread', 'Milk', 'Pencil', 'Diaper'],
 ['Bread', 'Diaper', 'Cheese', 'Milk', 'Wine', 'Eggs'],
 ['Bagel', 'Wine', 'Diaper', 'Meat', 'Pencil', 'Eggs', 'Cheese'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Bagel', 'Eggs', 'Meat', 'Bread', 'Diaper', 'Wine', 'Milk'],
 ['Bread', 'Diaper', 'Pencil', 'Bagel', 'Meat'],
 ['Bagel', 'Cheese', 'Milk', 'Meat'],
 ['Bread'],
 ['Pencil', 'Diaper', 'Bagel'],
 ['Meat', 'Bagel', 'Bread'],
 ['Bread', 'Bagel', 'Milk'],
 ['Diaper'],
 ['Bagel', 'Cheese', 'Meat', 'Bread', 'Diaper', 'Eggs'],
 ['Meat', 'Pencil', 'Cheese', 'Bread'],
 ['Cheese', 'Eggs', 'Wine', 'Bread', 'Milk', 'Pencil', 'Meat'],
 ['Eggs', 'Bagel', 'Cheese', 'Meat', 'Diaper'],
 ['Diaper', 'Wine', 'Eggs', 'Pencil', 'Meat'],
 ['Diaper', 'Meat', 'Milk', 'Bread', 'Bagel', 'Cheese'],
 ['Pencil'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Diaper', 'Meat', 'Bread', 'Pencil', 'Wine', 'Cheese', 'Milk'],
 ['Bread', 'Bagel'],
 ['Meat', 'Bread', 'Eggs', 'Cheese', 'Milk', 'Diaper'],
 ['Diaper', 'Meat'],
 ['Cheese', 'Bagel', 'Bread', 'Diaper', 'Wine'],
 ['Cheese', 'Milk', 'Bread'],
 ['Bread', 'Bagel', 'Milk'],
 ['Diaper', 'Bread', 'Wine', 'Meat', 'Bagel'],
 ['Bread', 'Cheese', 'Milk', 'Wine', 'Diaper'],
 ['Bread', 'Bagel', 'Milk'],
 ['Bread', 'Bagel', 'Milk'],
 ['Eggs'],
 ['Bread', 'Bagel', 'Milk'],
 ['Bread', 'Bagel', 'Milk'],
 ['Meat'],
 ['Eggs', 'Wine', 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Bread'],
 ['Bagel', 'Eggs'],
 ['Diaper', 'Wine', 'Meat'],
 ['Diaper', 'Bread', 'Bagel', 'Eggs', 'Wine', 'Milk', 'Cheese'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Eggs', 'Wine'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Wine', 'Milk'],
 ['Diaper'],
 ['Wine', 'Bread', 'Bagel', 'Diaper', 'Milk'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Cheese', 'Diaper', 'Meat', 'Wine', 'Bread'],
 ['Wine', 'Milk', 'Diaper', 'Pencil', 'Cheese', 'Eggs'],
 ['Cheese', 'Eggs', 'Meat', 'Diaper', 'Wine', 'Milk', 'Bread'],
 ['Diaper', 'Eggs'],
 ['Cheese', 'Meat', 'Eggs', 'Milk', 'Wine'],
 ['Wine', 'Cheese', 'Bagel', 'Pencil', 'Bread', 'Meat', 'Diaper'],
 ['Milk', 'Pencil', 'Cheese', 'Bagel'],
 ['Meat', 'Cheese', 'Diaper', 'Wine'],
 ['Bread', 'Bagel', 'Milk'],
 ['Bread', 'Meat', 'Pencil', 'Milk', 'Wine', 'Diaper'],
 ['Pencil', 'Cheese', 'Diaper', 'Wine', 'Eggs'],
 ['Bread', 'Diaper', 'Milk', 'Pencil', 'Cheese', 'Eggs'],
 ['Pencil', 'Milk', 'Cheese'],
 ['Eggs', 'Bagel', 'Bread'],
 ['Diaper', 'Bread', 'Cheese', 'Bagel', 'Meat', 'Pencil'],
 ['Bread', 'Bagel', 'Milk', 'Diaper'],
 ['Eggs', 'Bread'],
 ['Pencil', 'Milk', 'Diaper', 'Eggs'],
 ['Pencil', 'Milk', 'Meat', 'Cheese'],
 ['Bagel', 'Bread', 'Diaper', 'Cheese', 'Meat'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Bread', 'Wine', 'Eggs', 'Bagel', 'Cheese', 'Pencil', 'Diaper'],
 ['Diaper'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Milk'],
 ['Bread', 'Pencil'],
 ['Wine', 'Milk', 'Cheese'],
 ['Cheese', 'Bagel'],
 ['Pencil', 'Diaper', 'Wine'],
 ['Eggs', 'Meat', 'Cheese'],
 ['Meat', 'Bagel', 'Pencil'],
 ['Meat', 'Eggs', 'Bagel', 'Cheese', 'Wine'],
 ['Bread', 'Cheese', 'Wine', 'Bagel', 'Milk', 'Meat'],
 ['Meat', 'Cheese', 'Pencil', 'Wine', 'Bread'],
 ['Milk', 'Cheese', 'Wine', 'Bagel', 'Meat', 'Pencil', 'Bread'],
 ['Pencil', 'Cheese', 'Wine', 'Milk', 'Diaper', 'Bagel'],
 ['Bread', 'Bagel', 'Milk'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Cheese', 'Diaper', 'Pencil', 'Bagel', 'Wine', 'Meat', 'Eggs'],
 ['Eggs', 'Meat', 'Wine', 'Bagel', 'Milk', 'Cheese', 'Diaper'],
 ['Meat'],
 ['Bread', 'Bagel', 'Milk'],
 ['Pencil'],
 ['Wine', 'Diaper', 'Bread', 'Cheese'],
 ['Bagel', 'Pencil', 'Wine', 'Meat'],
 ['Wine', 'Bread'],
 ['Bread', 'Milk', 'Eggs', 'Cheese', 'Wine', 'Pencil'],
 ['Cheese', 'Milk', 'Meat', 'Eggs', 'Bagel'],
 ['Cheese', 'Meat', 'Eggs', 'Milk'],
 ['Diaper', 'Wine', 'Meat', 'Eggs'],
 ['Meat', 'Diaper'],
 ['Pencil', 'Wine', 'Bread', 'Milk'],
 ['Bagel', 'Bread', 'Eggs', 'Milk', 'Pencil', 'Meat', 'Wine'],
 ['Milk', 'Cheese', 'Wine', 'Meat', 'Bagel', 'Diaper', 'Bread'],
 ['Bagel', 'Diaper', 'Milk', 'Cheese', 'Wine'],
 ['Bread', 'Bagel', 'Milk'],
 ['Diaper'],
 ['Bagel', 'Pencil', 'Bread', 'Cheese', 'Eggs'],
 ['Bread', 'Eggs', 'Cheese'],
 ['Meat', 'Milk', 'Pencil'],
 ['Bread', 'Cheese', 'Eggs', 'Meat', 'Pencil', 'Diaper', 'Wine'],
 ['Meat', 'Cheese'],
 ['Eggs', 'Wine', 'Bagel', 'Bread', 'Meat']]

In [148]:
# 원-핫 인코딩
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_array = te.fit(products).transform(products)
result = pd.DataFrame(te_array, columns=te.columns_)

# Apriori 알고리즘으로 빈발 항목 집합 찾기
frequent_itemsets = apriori(result, min_support=0.3, use_colnames=True)

# 연관 규칙 생성(gpt)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head())

# 연관 규칙 생성(선생님)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules.head()

  antecedents consequents   support  confidence      lift
0      (Meat)    (Cheese)  0.323810    0.680000  1.355696
1    (Cheese)      (Meat)  0.323810    0.645570  1.355696
2      (Milk)    (Cheese)  0.304762    0.607595  1.211344
3    (Cheese)      (Milk)  0.304762    0.607595  1.211344

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,1.0,0.084958,1.557540,0.500891,0.495146,0.357962,0.662785
1,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,1.0,0.084958,1.477891,0.526414,0.495146,0.323360,0.662785
2,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,1.0,0.053172,1.270148,0.350053,0.436364,0.212690,0.607595
3,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,1.0,0.053172,1.270148,0.350053,0.436364,0.212690,0.607595