In [ ]:
# ZIP
a = ['홍길동','강감찬','이순신']
b = [95, 90, 97]
c = zip(a,b)
d = list(zip(a,b))
e = dict(zip(a,b))
print(d,e,sep = '\n')

[('홍길동', 95), ('강감찬', 90), ('이순신', 97)]
{'홍길동': 95, '강감찬': 90, '이순신': 97}

In [8]:
# unpacking
for name, score in d:
    print(f"{name} : {score}")

홍길동 : 95
강감찬 : 90
이순신 : 97

In [ ]:
a = ['a','b','c']

# a 값 출력
for v in a:
    print(v)

# a 인덱스 출력
for i in range(len(a)):
    print(i)

# enumerate 사용
for i, v in enumerate(a):
    print(i,v)

g = ['a','b']
k = {}
for i, v in enumerate(a):
    print(1,v)
    k[i] = v
print(k)
print(k[0],g[0])

a
b
c
0
1
2
0 a
1 b
2 c
1 a
1 b
1 c
{0: 'a', 1: 'b', 2: 'c'}
a a

### 컴프리헨션(Comprehension)

In [ ]:
mylist = [i+1 for i in range(10)]
# [expression for item in iterable if condition]
mylist2 = [i**2 for i in mylist if i % 2 == 0]
mylist3 = [i**2 if i % 2 == 0 else 0 for i in mylist]
print(mylist)
print(mylist2)
print(mylist3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 16, 36, 64, 100, 4, 16, 36, 64, 100]
[0, 4, 0, 16, 0, 36, 0, 64, 0, 100, 0, 4, 0, 16, 0, 36, 0, 64, 0, 100]

In [51]:
squares = [x**2 for x in range(10)]
squares2 = [x**2 for x in range(10) if x % 2 == 0]
print(squares)
print(squares2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [56]:
txt = "Hello"
chars = [i.upper() for i in txt]
chars

['H', 'E', 'L', 'L', 'O']

In [ ]:
# 중첩 컴프리헨션
matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix2 = [n for m in matrix for n in m if n <= 7]
print(matrix2)

[1, 2, 3, 4, 5, 6, 7]

In [82]:
# 딕셔너리 컴프리헨션
a = {x:x**2 for x in range(50) if x % 2 == 0}
print(a)
a[22]

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400, 22: 484, 24: 576, 26: 676, 28: 784, 30: 900, 32: 1024, 34: 1156, 36: 1296, 38: 1444, 40: 1600, 42: 1764, 44: 1936, 46: 2116, 48: 2304}

484

In [90]:
from attr import asdict


d = {
    "kim" : 35,
    "lee" : 30,
    "park" : 28
    }
e = {i:v for i,v in d.items() if i == 'kim' and v >= 30}
print(e)

{'kim': 35}

In [ ]:
won = 1387
price = {"우유" : 1.5, "커피" : 4.5, "빵" : 2.5}
price2 = {k:v*won for k,v in price.items()}
print(price2)

{'우유': 2080.5, '커피': 6241.5, '빵': 3467.5}

In [ ]:
# kg ---> g
wk = {"사과" : 1.2, "수박" : 3.5, "포도" : 0.5}
print({k:v*1000 for k,v in wk.items()})

{'사과': 1200.0, '수박': 3500.0, '포도': 500.0}

In [98]:
# 20점 만점 ---> 100점 만점
s = {"Alive" : 18, "Bob" : 14, "Charlie" : 20}
print({k:v*5 for k,v in s.items()})

{'Alive': 90, 'Bob': 70, 'Charlie': 100}

In [106]:
# 3.3% 공제 후 급여
rate = 0.033
salary = {"Tom" : 4000, "Jane" : 5500, "Mike" : 6200}
print({k:v*(1-rate) for k,v in salary.items()})

{'Tom': 3868.0, 'Jane': 5318.5, 'Mike': 5995.4}

In [116]:
# 총액계산(수량,단가)
items = {"펜":(2,500),"노트":(3,2000),"USB":(1,8000)}
s4 = {k:v[0]*v[1] for k,v in items.items()}
print(s4)
print(f"총액 : {sum(s4.values()):,}원")

{'펜': 1000, '노트': 6000, 'USB': 8000}
총액 : 15,000원

In [107]:
# VIP 고객에게 10% 추가
points = {"user1" : 1200, "VIP_user2" : 3000, "VIP_user3" : 5000}
print({k:round(v*1.1) if 'VIP' in k else v for k,v in points.items()})

{'user1': 1200, 'VIP_user2': 3300, 'VIP_user3': 5500}

In [127]:
t0 = ()
t1 = tuple()
t2 = (1,)
t3 = (1)
t4 = (1,2)
print(type(t0), type(t1), type(t2), type(t3), type(t4), sep="\n")

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [ ]:
t5 = ('a','b',('ab','cd'))
t5[2]

('ab', 'cd')

In [139]:
# 튜플은 삭제나 변경이 불가능하기 때문에 리스트로 변경 후 삭제해야 한다
t6 = list(t5)
del t6[1]
print(t6)

['a', ('ab', 'cd')]

In [148]:
t1 = (1,2)
t2 = (3,4)
t3 = t1 + t2
print(t3)

l1 = [1,2]
l2 = [3,4]
l3 = l1 + l2 # 원본(l1) 보존
print(l3)
l1.extend(l2) # 원본(l1)이 변경됨
print(l1)

(1, 2, 3, 4)
[1, 2, 3, 4]
[1, 2, 3, 4]

### 딕셔너리 활용

In [172]:
a = {
    'name' : '홍길동',
    # 'age' : 111,
    'phone' : '010-9999-1234',
    'birth' : '1118'
    }
print(f"{a['name']} : {a['phone']}")

홍길동 : 010-9999-1234

In [164]:
b = list(a.keys())
print(b)

['name', 'age', 'phone', 'birth']

In [165]:
c = list(a.values())
print(c)

['홍길동', 111, '010-9999-1234', '1118']

In [166]:
d = list(a.items())
print(d)

[('name', '홍길동'), ('age', 111), ('phone', '010-9999-1234'), ('birth', '1118')]

In [173]:
# a['age']
b = a.get('age',0)
print(b)

0

In [181]:
a = {
    'name' : 'pey',
    # 'age' : 111,
    'phone' : '010-9999-1234',
    'birth' : '1118'
    }
'age' in a

False

In [183]:
'pey' in a.values()

True

In [186]:
student_records = [
    ('John', 'A', 95),
    ('Lisa', 'B', 85),
    ('Mike', 'A', 92),
]
for (name, grade, score) in student_records:
    print(f"이름 : {name}, 등급 : {grade}, 점수 : {score}")

이름 : John, 등급 : A, 점수 : 95
이름 : Lisa, 등급 : B, 점수 : 85
이름 : Mike, 등급 : A, 점수 : 92

In [ ]:
menu = dict(김밥=5000, 떡볶이=5500, 튀김=3000)
print(menu)

{'김밥': 5000, '떡볶이': 5500, '튀김': 3000}

In [194]:
config = dict(batch_size = 32, shuffle = True, drop_last = False)
config

{'batch_size': 32, 'shuffle': True, 'drop_last': False}

In [197]:
n = 4
for i in range(1,n+1):
    for j in range(2,10,2):
        a = '*' * (j * i -1)
        print(f"{a:^{n*8-1}}")

for i in range(n):
    print(f"{'***':^{n*8-1}}")

               *
              ***
             *****
            *******
              ***
            *******
          ***********
        ***************
             *****
          ***********
       *****************
    ***********************
            *******
        ***************
    ***********************
*******************************
              ***
              ***
              ***
              ***

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]