# 2025-07-29 화요일

In [15]:
# 점수에 따라 학점 매핑후 학점 추가하고 json으로 변환
students = [
    {"name" : "홍길동", "score" : 95},
    {"name" : "김영희", "score" : 82},
    {"name" : "박철수", "score" : 67}
]

for student in students:
    if student['score'] >= 90:
        student['grade'] = 'A'
    elif student['score'] >= 80:
        student['grade'] = 'B'
    elif student['score'] >= 70:
        student['grade'] = 'C'
    elif student['score'] >= 60:
        student['grade'] = 'D'
    else:
        student['grade'] = 'F'
    

import json

json_students = json.dumps(students, ensure_ascii=False, indent=2)
print(json_students)

[
  {
    "name": "홍길동",
    "score": 95,
    "grade": "A"
  },
  {
    "name": "김영희",
    "score": 82,
    "grade": "B"
  },
  {
    "name": "박철수",
    "score": 67,
    "grade": "D"
  }
]

In [35]:
# gender_text 항목 추가(남, 여, 기타)
users = [
    {"name": "배지훈", "gender": "M"},
    {"name": "최지민", "gender": "F"},
    {"name": "이하늘", "gender": "X"},
    {"name": "강수지", "gender": None},
    {"name": "박준영"}
]

# for user in users:
#     if 'gender' in user:
#         if user['gender'] == 'M':
#             user['gender_text'] = '남성'
#         elif user['gender'] == 'F':
#             user['gender_text'] = '여성'
#         else:
#             user['gender_text'] = '기타'
#     else:
#         user['gender_text'] = '기타'

for user in users:
    g = user.get("gender")
    if g == 'M':
        user['gender_text'] = '남성'
    elif g == 'F':
        user['gender_text'] = '여성'
    else:
        user['gender_text'] = '기타'

# get 함수를 사용하면 결측치를 에러 없이 처리 가능
# gender_map = {"M" : "남성", "F" : "여성"}
# for user in users:
#     user["gender_text"] = gender_map.get(user.get("gender"),'기타')

json_users = json.dumps(users, ensure_ascii=False, indent=2)
print(json_users)

[
  {
    "name": "배지훈",
    "gender": "M",
    "gender_text": "남성"
  },
  {
    "name": "최지민",
    "gender": "F",
    "gender_text": "여성"
  },
  {
    "name": "이하늘",
    "gender": "X",
    "gender_text": "기타"
  },
  {
    "name": "강수지",
    "gender": null,
    "gender_text": "기타"
  },
  {
    "name": "박준영",
    "gender_text": "기타"
  }
]

In [40]:
# 10000원이 넘는 경우에만 10% 할인해서 최종가격 항목 추가
products = [
    {"id" : 1, "price" : 12000},
    {"id" : 2, "price" : 5500}
]
for product in products:
    price = product.get('price')
    if price >= 10000:
        product['final_price'] = round(price * 0.9)
    else:
        product['final_price'] = price

json_products = json.dumps(products, ensure_ascii=False, indent=2)
print(json_products)

[
  {
    "id": 1,
    "price": 12000,
    "final_price": 10800
  },
  {
    "id": 2,
    "price": 5500,
    "final_price": 5500
  }
]

In [50]:
# 결측값을 변환
students = [
    {"name" : "김도윤", "score" : 88},
    {"name" : "이유진", "score" : None},
    {"name" : "권나연"}
]
for student in students:
    score = student.get("score") # 0도 not score에 걸릴 수 있으니 잘 보고 사용
    if score is None:
        student['score'] = 0
        student['note'] = "미응시"

json_students = json.dumps(students, ensure_ascii=False, indent=2)
print(json_students)

[
  {
    "name": "김도윤",
    "score": 88
  },
  {
    "name": "이유진",
    "score": 0,
    "note": "미응시"
  },
  {
    "name": "권나연",
    "score": 0,
    "note": "미응시"
  }
]

In [54]:
orders = [
    {"order_id" : 1, "user" : {"name" : "홍길동"}, "item" : "책"},
    {"order_id" : 2, "user" : {"name" : "김영희"}, "item" : "펜"},
]

result = []
for o in orders:
    result.append({"order_id" : o["order_id"], "username" : o["user"]["name"]})
print(result)

result2 = [{"order_id" : order["order_id"], "username" : order["user"]["name"]} for order in orders]
print(result2)

[{'order_id': 1, 'username': '홍길동'}, {'order_id': 2, 'username': '김영희'}]
[{'order_id': 1, 'username': '홍길동'}, {'order_id': 2, 'username': '김영희'}]

In [61]:
events = [
    {"title" : "수강등록", "date" : "2025-08-01"},
    {"title" : "졸업식", "date" : "2026-02-22"},
]

for event in events:
    year_month = event.get("date")[:7]
    event['year_month'] = year_month

json_events = json.dumps(events, ensure_ascii=False, indent=2)
print(json_events)

[
  {
    "title": "수강등록",
    "date": "2025-08-01",
    "year_month": "2025-08"
  },
  {
    "title": "졸업식",
    "date": "2026-02-22",
    "year_month": "2026-02"
  }
]

In [64]:
students = [
    {"name" : "조수아", "scores" : [85, 90, 92]},
    {"name" : "이준혁", "scores" : [88, 78, 95]},
]

for student in students:
    student['max_score'] = max(student.get("scores"))

json_students = json.dumps(students, ensure_ascii=False, indent=2)
print(json_students)

[
  {
    "name": "조수아",
    "scores": [
      85,
      90,
      92
    ],
    "max_score": 92
  },
  {
    "name": "이준혁",
    "scores": [
      88,
      78,
      95
    ],
    "max_score": 95
  }
]

In [66]:
# 중첩 딕셔너리 값 합산
sales = [
    {"name" : "홍길동", "monthly" : {"1월" : 120, "2월" : 140}},
    {"name" : "김영희", "monthly" : {"1월" : 90, "2월" : 100}}
]

for sale in sales:
    sale['total'] = sum(sale['monthly'].values())

json_sales = json.dumps(sales, ensure_ascii=False, indent=2)
print(json_sales)

[
  {
    "name": "홍길동",
    "monthly": {
      "1월": 120,
      "2월": 140
    },
    "total": 260
  },
  {
    "name": "김영희",
    "monthly": {
      "1월": 90,
      "2월": 100
    },
    "total": 190
  }
]

In [70]:
# 총점과 평균 항목 추가
students = [
    {"name" : "철수", "scores" : {"국어" : 85, "수학" : 90, "영어" : 80}},
    {"name" : "영희", "scores" : {"국어" : 95, "수학" : 85}}
]

for student in students:
    scores = student['scores']
    total = sum(scores.values())
    cnt = len(scores.values())
    avg = total / cnt if cnt > 0 else 0
    student['total'] = total
    student['avarage'] = avg

json_students = json.dumps(students, ensure_ascii=False, indent=2)
print(json_students)

[
  {
    "name": "철수",
    "scores": {
      "국어": 85,
      "수학": 90,
      "영어": 80
    },
    "total": 255,
    "avarage": 85.0
  },
  {
    "name": "영희",
    "scores": {
      "국어": 95,
      "수학": 85
    },
    "total": 180,
    "avarage": 90.0
  }
]

In [73]:
nums = [1, 3, 2 ,10 ,12, 11, 15]

def get_even(numlist):
    return [num for num in numlist if num % 2 == 0]

print(get_even(nums))

[2, 10, 12]

In [77]:
d = {"이름" : "김말똥", "나이" : 30, "성별" : 'M'}
# ['김말똥', 30, 'M']

def p_list(dt):
    return [ v for v in dt.values()]

print(p_list(d))

def p_list2(dt):
    return list(dt.values())

print(p_list2(d))

def p_list3(dt):
    return list(dt.keys())

print(p_list3(d))

['김말똥', 30, 'M']
['김말똥', 30, 'M']
['이름', '나이', '성별']

In [79]:
my_dict = {
    "10/26" : [100, 130, 50, 90],
    "10/27" : [10, 12, 10, 11]
}

def print_val(d, key, val):
    return [i for i in d[key] if i >= val]

print(print_val(my_dict, "10/26", 100))
print(print_val(my_dict, "10/27", 11))

[100, 130]
[12, 11]

In [85]:
# 연봉을 월급으로 계산하는 함수
def salary(annual):
    return round(annual / 12)

print(salary(50000000))

4166667

In [98]:
# 학점을 백분율로 나타내는 함수 만들기(4.5점)
def convert_to_percentage(score, total):
    return round(score / total * 100)

score = 4.0
total = 4.5
print(f"{score}점은 백분율로 {convert_to_percentage(score,total)}점 입니다")

4.0점은 백분율로 89점 입니다

In [99]:
# 람다 함수
# lambda 입력값 : 연산식 + 리턴
lambda x : x * 2
lambda x, y : x + y
def add(a, b):
    return a + b
add2 = lambda a, b : a + b

In [101]:
def getStrLength1(s):
    return len(s)

getStrLength2 = lambda s : len(s)

print(getStrLength2("Hello world"))

11

In [107]:
iseven = lambda x : x % 2 == 0
print(iseven(4))

True

In [117]:
a = [1,2,3,4]

add1 = lambda x : x + 1

b = [add1(i) for i in a]

print(b)

[2, 3, 4, 5]

In [120]:
# map(함수, 리스트) : 리스트의 각 원소에 함수를 적용하여 새로운 리스트를 만듦
aList = [1,2,3,4]
def add1(x):
    return x+1
r = list(map(add1, aList))
r

[2, 3, 4, 5]

In [121]:
r = list(map(lambda x : x + 1, aList))
r

[2, 3, 4, 5]

In [122]:
r = list(map(str, aList))
r

['1', '2', '3', '4']

In [125]:
aList = [1,2,3,4,5]
r = list(map(lambda x : x ** 2, aList))
r

[1, 4, 9, 16, 25]

In [128]:
# max_value(30,20)
max_value = lambda x, y : x if x > y else y

print(max_value(30,20))
print(max_value(20,40))
print(max_value(100,20))

30
40
100

In [137]:
numbers = list(range(1,11))
# filter(함수, 리스트) : 리스트의 각 원소에 함수를 적용하여 True인 것만 추출하여 새로운 리스트를 만듦
r = list(map(lambda x : x % 2 == 0, numbers))
print(r)
v = list(filter(lambda x : x % 2 == 0, numbers))
print(v)

[False, True, False, True, False, True, False, True, False, True]
[2, 4, 6, 8, 10]

In [183]:
words = ["hello","world","python","deep-learning"]
r = list(map(lambda x : len(x), words))
print(r)
r2 = sorted(words, key = lambda x : len(x), reverse = True)
print(r2)

[5, 5, 6, 13]
['zello', 'world', 'python', 'deep-learning']

In [143]:
p = [1,7,3,8,2]
p.sort(reverse = True)
p

[8, 7, 3, 2, 1]

In [150]:
p2 = [(2,3),(1,1),(4,0)]
p2.sort()
p2

[(1, 1), (2, 3), (4, 0)]

In [175]:
p2 = [(2,3),(1,1),(4,0)]
p2.sort(key = lambda x : x[1])
p2

[(4, 0), (1, 1), (2, 3)]

In [184]:
data = {
    'banana' : [1,3],
    'apple' : [3,2],
    'cherry' : [5,1]
}
s = sorted(data.items(), key = lambda x : x[1][1], reverse = True)
dict(s)

{'banana': [1, 3], 'apple': [3, 2], 'cherry': [5, 1]}

In [185]:
# !!map, filter, sorted!!

In [195]:
# 가변인자
def sum_numbers(*args):
    print(type(args))
    print(args)
    return sum(args)
print(sum_numbers(1,2,3,4,5,6,7,8,9,10))

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
55

In [197]:
def concatenate_strings(*args):
    print(args)
    return ''.join(args)

print(concatenate_strings('Hello, ', 'world!', ' How are you?', ' I am fine.', ' Thank you, and you?'))

('Hello, ', 'world!', ' How are you?', ' I am fine.', ' Thank you, and you?')
Hello, world! How are you? I am fine. Thank you, and you?

In [ ]:
def max_value(*args):
    return max(args)
print(max_value(1,3,5))
print(max_value(10,20,30,40,50))

number_list = [5,2,9,1,7]
print(max_value(*number_list))

5
50
9

In [210]:
def print_list(*args):
    print(args)
    for a in args:
        print(a, end = '  ')

print_list(1,2,3,'apple','banana','mango')

(1, 2, 3, 'apple', 'banana', 'mango')
1  2  3  apple  banana  mango

In [220]:
def average(*args):
    return round(sum(args) / len(args)) if args else 0
scores = [95, 20, 30, 40, 55, 70, 98, 100, 50, 80, 70, 90, 0, 40, 60, 80]
print(average(*scores))

61

In [236]:
def remove_duplicates(*args):
    print(args)
    print(set(args))
    return list(set(args))
print(remove_duplicates(5,2,2,3,4,4,1))

(5, 2, 2, 3, 4, 4, 1)
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [ ]:
def print_user_info(name, age, *args):
    print(f"이름 : {name}")
    print(f"나이 : {age}")
    if args:
        print("나머지 정보")
        for info in args:
            print(f"- {info}")
print_user_info("Alice", 30, "New York", "555-1234", "Likes Python")
print()
print_user_info("Bob", 25)
print()

이름 : Alice
나이 : 30
나머지 정보
- New York
- 555-1234
- Likes Python

이름 : Bob
나이 : 25

In [243]:
# 딕셔너리 가변인자
def print_user_info(**kwargs):
    print(type(kwargs))
    print(kwargs)
    for k, v in kwargs.items():
        print(f"{k} : {v}")

print_user_info(name = 'Alice', age = 30, city = 'NewYork')

<class 'dict'>
{'name': 'Alice', 'age': 30, 'city': 'NewYork'}
name : Alice
age : 30
city : NewYork

In [254]:
def greet(**kwargs):
    name = kwargs.get('name','Guest')
    print(f"Hello, {name}!")

greet(name = 'Bob')
greet()

Hello, Bob!
Hello, Guest!

In [256]:
def custom_error(message, **kwargs):
    error_details = f"Error: {message}"
    for key, value in kwargs.items():
        error_details += f"\n{key}: {value}"
    return error_details

error_message = custom_error("File not found", filename="example.txt", line=42)
print(error_message)

Error: File not found
filename: example.txt
line: 42

In [259]:
data = [(1, 'apple'), (3, 'cherry'), (2, 'banana')]
sorted_data = sorted(data, key=lambda x: x[1])
sorted_data

[(1, 'apple'), (2, 'banana'), (3, 'cherry')]

In [260]:
def filter_even(*args):
    return list(filter(lambda x : x % 2 == 0, args))
evens = filter_even(1,2,3,4,5,6)
print(evens)

[2, 4, 6]

In [277]:
calculator = {
    'add' : lambda x, y : x + y,
    'sub' : lambda x, y : x - y,
    'mul' : lambda x, y : x * y,
    'div' : lambda x, y : x / y,
}
a = calculator['add'](10,5)
s = calculator['sub'](10,5)
m = calculator['mul'](10,5)
d = calculator['div'](10,5)
calculator['sum'] = lambda *args : sum(args)
sum1 = calculator['sum'](1,2,3,4,5,6,7,8,9)

print(f"add : {a}", f"sub : {s}", f"mul : {m}", f"div : {d}", f"sum : {sum1}", sep = '\n')

add : 15
sub : 5
mul : 50
div : 2.0
sum : 45

In [ ]:
def filter_custom(condition, *args):
    return list(filter(condition, args))

def con(x):
    return x % 2 != 0
odds = filter_custom(con, 1, 2, 3, 4, 5)
# odds = filter_custom(lambda x : x % 2 != 0, 1, 2, 3, 4, 5)

odds

[1, 3, 5]