In [18]:
store_sales_dict = {
    "S001": {"지역": "서울", "일일판매액": 5000000, "방문객수": 200, "평균구매액": 25000, "직원수": 8},
    "S002": {"지역": "부산", "일일판매액": 3500000, "방문객수": 150, "평균구매액": 23000, "직원수": 6},
    "S003": {"지역": "대구", "일일판매액": 2800000, "방문객수": 120, "평균구매액": 23500, "직원수": 5},
    "S004": {"지역": "서울", "일일판매액": 6000000, "방문객수": 300, "평균구매액": 20000, "직원수": 10},
}
# 지역별 직원 1인당 매출액을 구하시오

result = {}

for info in store_sales_dict.values():
    if info["지역"] not in result:
        result[info["지역"]] = []
    result[info["지역"]].append(info["일일판매액"] / info["직원수"])

add_result = {k : f"{sum(v):,.0f}" for k, v in result.items()}
print(add_result)
add_result2 = {k : round(sum(v)) for k, v in result.items()}
print(add_result2)

{'서울': '1,225,000', '부산': '583,333', '대구': '560,000'}
{'서울': 1225000, '부산': 583333, '대구': 560000}

In [19]:
import json
result3 = [
    {
        "코드" : k,
        "지역" : v["지역"],
        "직원당매출" : round(v["일일판매액"] / v["직원수"])
    }
    for k, v in store_sales_dict.items()]

result3

[{'코드': 'S001', '지역': '서울', '직원당매출': 625000},
 {'코드': 'S002', '지역': '부산', '직원당매출': 583333},
 {'코드': 'S003', '지역': '대구', '직원당매출': 560000},
 {'코드': 'S004', '지역': '서울', '직원당매출': 600000}]

In [20]:
print(json.dumps(result3, ensure_ascii=False, indent = 4))

[
    {
        "코드": "S001",
        "지역": "서울",
        "직원당매출": 625000
    },
    {
        "코드": "S002",
        "지역": "부산",
        "직원당매출": 583333
    },
    {
        "코드": "S003",
        "지역": "대구",
        "직원당매출": 560000
    },
    {
        "코드": "S004",
        "지역": "서울",
        "직원당매출": 600000
    }
]

In [ ]:
feedback_dict = {
    "R001": {"제품ID": "P001", "평점": 4.5, "리뷰내용": "매우 만족합니다", "작성일": "2024-03-15", "추천수": 10},
    "R002": {"제품ID": "P001", "평점": 3.5, "리뷰내용": "보통입니다", "작성일": "2024-03-14", "추천수": 5},
    "R003": {"제품ID": "P002", "평점": 5.0, "리뷰내용": "최고의 제품", "작성일": "2024-03-13", "추천수": 15}
}
# 제품별 평균 평점 계산
result4 = {}
for info in feedback_dict.values():
    if info['제품ID'] not in result4:
        result4[info['제품ID']] = {"평점합계" : 0, "리뷰수" : 0, "평균평점" : 0}
    result4[info['제품ID']]["평점합계"] += info["평점"]
    result4[info['제품ID']]["리뷰수"] += 1

for pid, rat in result4.items():
    rat["평균평점"] = rat["평점합계"] / rat["리뷰수"]

result4

{'P001': {'평점합계': 8.0, '리뷰수': 2, '평균평점': 4.0},
 'P002': {'평점합계': 5.0, '리뷰수': 1, '평균평점': 5.0}}

<pre>
{
    "P001" : {
        "평점합계":8.0,
        "리뷰수":2,
        "평균평점:4.0
    }
    "P002" : {
        "평점합계":5.0,
        "리뷰수":1,
        "평균평점:5.0
    }
}
</pre>

In [32]:
import pandas as pd
df = pd.DataFrame.from_dict(feedback_dict, orient = "index")
df

      제품ID   평점      리뷰내용         작성일  추천수
R001  P001  4.5  매우 만족합니다  2024-03-15   10
R002  P001  3.5     보통입니다  2024-03-14    5
R003  P002  5.0    최고의 제품  2024-03-13   15

In [38]:
# df2 = df.groupby("제품ID")["평점"].mean()
df2 = df.groupby("제품ID")["평점"].agg(['sum','count'])
df2['평균'] = df2['sum'] / df2['count']
df2

      sum  count   평균
제품ID
P001  8.0      2  4.0
P002  5.0      1  5.0

In [40]:
df2['평균']

제품ID
P001    4.0
P002    5.0
Name: 평균, dtype: float64

In [46]:
date = ['09/05','09/06','09/08','09/09']
start_price = [10000, 12700, 9100, 15800, 8000]
close_price = [10500, 10300, 10100, 10800, 11000]

data = {date[i] : {
    '시작가' : start_price[i],
    '종가' : close_price[i]
} for i in range(len(date))}
data

{'09/05': {'시작가': 10000, '종가': 10500},
 '09/06': {'시작가': 12700, '종가': 10300},
 '09/08': {'시작가': 9100, '종가': 10100},
 '09/09': {'시작가': 15800, '종가': 10800}}

In [50]:
data2 = { d : {'시작가' : s, '종가' : c} for d, s, c in zip(date, start_price, close_price)}
data2

{'09/05': {'시작가': 10000, '종가': 10500},
 '09/06': {'시작가': 12700, '종가': 10300},
 '09/08': {'시작가': 9100, '종가': 10100},
 '09/09': {'시작가': 15800, '종가': 10800}}

In [52]:
d1 = [k1 for k1 in data2.keys()]
d1

['09/05', '09/06', '09/08', '09/09']

In [ ]:
d3 = [k2["시작가"] for k2 in data2.values()]
d3

[10000, 12700, 9100, 15800]

In [54]:
d3 = [k3["종가"] for k3 in data2.values()]
d3

[10500, 10300, 10100, 10800]