# 2025-08-04 월요일

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp310-cp310-win_amd64.whl (16.4 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0

WARNING: You are using pip version 21.2.3; however, version 25.1.1 is available.
You should consider upgrading via the 'C:\Temp\2025\venv310\Scripts\python.exe -m pip install --upgrade pip' command.

In [17]:
# import sqlite3
# conn = sqlite3.connect('python2/13. 0804/userinfo.db')
# cursor = conn.cursor()

import mysql.connector
# conn = mysql.connector.connect(
#     host='localhost',
#     user='hong',
#     password='1234',
#     database='db0804',
#     port = 3306
# )
config = {
    'host': 'localhost',
    'user': 'hong',
    'password': '1234',
    'database': 'db0804',
    'port': 3306
}
conn = mysql.connector.connect(**config)

cursor = conn.cursor()

cursor.execute('''
    SELECT * FROM members
    ''')
data = cursor.fetchall()
print(data)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS member (
        id INT AUTO_INCREMENT PRIMARY KEY,
        userid VARCHAR(100) NOT NULL,
        name VARCHAR(100) NOT NULL,
        email VARCHAR(255) NOT NULL,
        password VARCHAR(100) NOT NULL
    )
    ''')
conn.commit()

[(1, '홍길동', 'hong@a.com')]

In [ ]:
# import sqlite3
# conn = sqlite3.connect("0801/userinfo.db")
# cursor = conn.cursor()

import mysql.connector

# conn = mysql.connector.connect(user='hong', password='1234', host='localhost', database='db0804', port=3306, charset='utf8mb4', collation='utf8mb4_general_ci')

config = {
    'user': 'hong',
    'password': '1234',
    'host': 'localhost',
    'database': 'db0804',
    'port': 3306,
    'charset': 'utf8mb4',
    'collation': 'utf8mb4_general_ci'
}
conn = mysql.connector.connect(**config)

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS member2 (
        id INT AUTO_INCREMENT PRIMARY KEY,
        userid VARCHAR(100) NOT NULL,
        name VARCHAR(100) NOT NULL,
        email VARCHAR(255) NOT NULL,
        password VARCHAR(100) NOT NULL
    )
''')
conn.commit()

def create_member(userid, name, email, password):
    cursor.execute('''
        INSERT INTO member2 (userid, name, email, password)
        VALUES (%s, %s, %s, %s)
    ''', (userid, name, email, password))
    conn.commit()

def read_members():
    cursor.execute('SELECT * FROM member2')
    return cursor.fetchall()

def update_member(id, name, email):
    cursor.execute('''
        UPDATE member2
        SET name = %s, email = %s
        WHERE id = %s
    ''', (name, email, id))
    conn.commit()

def delete_member(id):
    cursor.execute('DELETE FROM member2 WHERE id = %s', (id,))
    conn.commit()

# create_member("hong", "빛돌이", "hong@a.com", "1234")
# create_member("lee", "이순신", "lee@a.com", "1234")
# create_member("yoon", "윤봉길", "yoon@a.com", "1234")
# create_member("kwon", "권오일", "kwon@a.com", "1234")

for row in read_members():
    print(row)

cursor.close()
conn.close()

(1, 'hong', '빛돌이', 'hong@a.com', '1234')
(2, 'lee', '이순신', 'lee@a.com', '1234')
(3, 'yoon', '윤봉길', 'yoon@a.com', '1234')
(5, 'kwon', '권율', 'kwon@a.com', '1234')

### 내장 모듈

In [506]:
import random

random.randint(1, 10) # 1 ~ 10 랜덤 정수(10 포함)

10

In [507]:
random.randrange(1,10) # 1 ~ 9 랜덤 정수

4

In [508]:
random.randrange(10) # 0 ~ 9 랜덤 정수

2

In [535]:
random.randrange(0, 101, 2) # 0 ~ 100 사이 2의 배수 중 랜덤 정수

16

In [ ]:
random.random() # 0 ~ 1 미만의 랜덤 실수

0.9419527535213756

In [ ]:
random.random() * 9 + 1 # 1 ~ 10 미만의 랜덤 실수

2.8498091663134235

In [645]:
random.uniform(1, 10) # 1 ~ 10 이하의 랜덤 실수

4.241938747920948

In [668]:
f = ['사과','배','오이','고구마','호박','망고','수박','토마토']
i = random.randrange(len(f))
f[i]

'사과'

In [684]:
random.choice(f)

'망고'

In [710]:
# 리스트에서 랜덤으로 3개 추출
random.choices(f, k = 3) # 중복 허용

['호박', '망고', '오이']

In [711]:
# 리스트에서 랜덤으로 3개 추출
random.sample(f, k = 3) # 중복 허용 안함

['망고', '토마토', '수박']

In [747]:
items = ['A','B','C']
weights = [1,2,3]

random.choices(items, weights = weights, k = 10)

['A', 'B', 'B', 'C', 'B', 'C', 'C', 'B', 'C', 'B']

In [750]:
random.choices([1,2,3], weights = [0.1, 0.7, 0.2], k = 10)

[2, 2, 2, 1, 2, 3, 2, 2, 2, 2]

In [776]:
set(random.sample(range(1,46), 6))

{6, 19, 27, 28, 42, 45}